<template name="InstalledApps">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">INSTALLED APPS</div>

    </div>

  </div>

  {{#if firstVisit}}

    <div class="genre-other-section">

      <div class="contents">

        <div class="update-selector clearfix">

          <div class="float-right">

            {{> updateSelector}}

          </div>

        </div>

        <div class="genre-other">

          {{> appTable genre='Installed' installPage=true}}

        </div>

      </div>

    </div>

  {{else}}

    <div class="genre-popular-section">

      <div class="contents">

        <div class="update-selector">

          <div class="float-right with-header">

            {{> updateSelector}}

          </div>

        </div>

        <div class="genre-popular">

          <div class="contents">

            {{#if autoupdateApps}}
              <div class="title">RECENTLY UPDATED</div>
            {{else}}
              <div class="title">PENDING UPDATES</div>
              <div class="button-container">
                <div class="autoupdate-button active" data-action="update-all-apps">
                  <i class="fa fa-magic"></i>
                  UPDATE ALL
                </div>
              </div>
            {{/if}}

            {{> appTable genre='Updates Available' singleLine=true updateChrome=true installPage=true reactive=true}}

          </div>

        </div>

      </div>

    </div>

    <div class="genre-other-section">

      <div class="contents">

        <div class="genre-other">

          {{> appTable genre='Installed No Updates' installPage=true reactive=true}}

        </div>

      </div>

    </div>

  {{/if}}

</template>


<template name="updateSelector">

  <div class="update-selector-text">{{#if firstVisit}}Auto-update apps?{{else}}Updates:{{/if}}</div>

  <div class="update-selector-buttons">

    <div class="autoupdate-button left {{#if automatic}}active{{/if}}" data-action="toggle-autoupdate">
      <i class="fa fa-magic"></i>
      AUTOMATIC
    </div>
    <div class="autoupdate-button right {{#unless automatic}}active{{/unless}}" data-action="toggle-autoupdate">
      <i class="fa fa-hand-o-up"></i>
      MANUAL
    </div>

  </div>

</template>


<template name="uninstallApp">

  <div class="anti-modal-box uninstall-box">

    <div class="header">
      UNINSTALL THIS APP?
    </div>

    <div class="divider">
    </div>

    <div class="blurb">
      <p>
        The grains (instances or documents) associated with this app may or may not be able to be opened with other apps.
      </p>
      <p>
        You can always re-install the newest available version of this app, but you won't be able to re-install older versions.
      </p>
    </div>

    <div class="buttons">

      <div class="button" data-action="close-modal">
        CANCEL
      </div>
      <div class="button" data-action="uninstall-app">
        YES, UNINSTALL
      </div>

    </div>

  </div>

</template>
