<template name="Admin">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">ADMIN PANEL</div>

    </div>

  </div>

  <div class="admin-section">

    {{> adminFilters}}

    <div class="divider"></div>

    {{> chronology}}

  </div>

</template>

<template name="adminFilters">

  {{#each adminFilters}}

    <div class="admin-filter simptip-position-top simptip-fade {{color}} {{active}}" data-action="select-filter" data-tooltip={{tooltip}}>

      <i class="{{icon}}"></i>
      <div class="text">
        {{text}}
      </div>
      <div class="count">
        {{count}}
      </div>

    </div>

  {{/each}}

  <div class="filter-description-row clearfix">

    <div class="right-float">
      <div class="sandstorm-button neutral big-icon" data-action="search">
        <i class="icon-search"></i>
      </div>
    </div>

    {{#with liveFilter}}
    <div class="filter-description">
      {{#if this.tooltip}}
        <i class="{{this.icon}}"></i>
        <div class="text">
          {{this.tooltip}}
        </div>
      {{/if}}
    </div>
    {{/with}}

  </div>

</template>

<template name="chronology">

  {{#each chronology}}

    <div class="date">{{dateFormat date 'MMMM.DD.YYYY'}}</div>

    {{#each this.apps}}

      {{>appAdminItem app=this}}

    {{/each}}

  {{/each}}

</template>
