@import "../../stylesheets/variables";
@import "../../templates/components/menu";

body.admin {

  // At present, there is no responsive styling for the admin console
  // It is designed to be viewed on an HD laptop, and will cover > 100%
  // of the screen width if viewed on a smaller screen.
  // min-width: 155rem;

}

.admin-section {

  @extend .menu-spacer;
  @extend .pad-right;

  .filter-description-row {

    margin-top: 2rem;
    margin-bottom: 2rem;

    .filter-description{

      display: inline-block;
      color: #6d627c;
      font-weight: 300;
      clear: none;

      i {
        display: inline-block;
        vertical-align: middle;
        font-size: 2.5rem;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.8rem;
        margin-left: 2rem;
      }

    }

  }

  .divider {

    border-bottom: 1px solid $update-app-divider;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;

  }

  .date {

    font-size: 1.6rem;
    color: #555555;

  }

}

.admin-filter {

  display: inline-block;
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 2.5rem;
  border-radius: $button-border-radius;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-right: 0;
  }

  > * {
    display: inline-block;
    vertical-align: bottom;
  }

  i {
    padding-left: 0.75rem;
  }

  .text {
    padding-left: 0.75rem;
    padding-right: 1.5rem;
    &.all {
      padding-left: 1.5rem;
    }

    &[contenteditable] {
      cursor: text;
      white-space:nowrap;

      br { display: none; }
    }
  }

  .count {
    border-top-right-radius: $button-border-radius;
    border-bottom-right-radius: $button-border-radius;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &.square {
    border-radius: 0;
    height: 2.5rem;
    vertical-align: bottom;
    .count {border-radius: 0}

    &.active {
      color: #ffffff;
      background-color: #6d627c;
    }
  }


  // DIFFERENT COLOUR-SCHEMES
  &.purple {
    color: #783189;
    background-color: #fcfcfc;

    .count {
      color: #fcfcfc;
      background-color: #783189;
      border-left: 1px solid #fcfcfc;
    }

    &.active {
      color: #ffffff;
      background-color: #783189;

      i {
        color: #a965ba;
      }

      .count {
        border-left: 1px solid #a965ba;
      }

    }
  }

  &.light-purple {
    color: #a965ba;
    background-color: #fcfcfc;

    .count {
      color: #fcfcfc;
      background-color: #a965ba;
      border-left: 1px solid #fcfcfc;
    }

    &.active {
      color: #ffffff;
      background-color: #a965ba;

      i {
        color: #fcfcfc;
      }

      .count {
        border-left: 1px solid #fcfcfc;
      }

    }
  }

  &.blue {
    color: #769ad6;
    background-color: #fcfcfc;

    .count {
      color: #fcfcfc;
      background-color: #769ad6;
      border-left: 1px solid #fcfcfc;
    }

    &.active {
      color: #ffffff;
      background-color: #769ad6;

      i {
        color: #fcfcfc;
      }

      .count {
        border-left: 1px solid #fcfcfc;
      }

    }
  }

  &.yellow {
    color: #e5a045;
    background-color: #fcfcfc;

    .count {
      color: #fcfcfc;
      background-color: #e5a045;
      border-left: 1px solid #fcfcfc;
    }

    &.active {
      color: #ffffff;
      background-color: #e5a045;

      i {
        color: #fcfcfc;
      }

      .count {
        border-left: 1px solid #fcfcfc;
      }

    }
  }

  &.green {
    color: #4b9441;
    background-color: #fcfcfc;

    .count {
      color: #fcfcfc;
      background-color: #4b9441;
      border-left: 1px solid #fcfcfc;
    }

    &.active {
      color: #ffffff;
      background-color: #4b9441;

      i {
        color: #fcfcfc;
      }

      .count {
        border-left: 1px solid #fcfcfc;
      }

    }
  }

  &.black {
    color: #424242;
    background-color: #fcfcfc;

    .count {
      color: #fcfcfc;
      background-color: #424242;
      border-left: 1px solid #fcfcfc;
    }

    &.active {
      color: #ffffff;
      background-color: #424242;

      i {
        color: #fcfcfc;
      }

      .count {
        border-left: 1px solid #fcfcfc;
      }

    }
  }

  &.grey {
    color: #6d627c;
    background-color: #fcfcfc;

    .count {
      color: #6d627c;
      background-color: #fcfcfc;
      border-left: none;
    }

    &.active {
      color: #ffffff;
      background-color: #6d627c;

      i {
        color: #fcfcfc;
      }

      .count {
        color: #ffffff;
        background-color: #6d627c;
        border-left: none;
      }

    }
  }

}

.genre-button {

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border-radius: $button-border-radius;
  background-color: #a4a3b3;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  margin-right: 1rem;
  width: 8rem;

  > * {
    display: block;
    text-align: center;
  }

  i {
    font-size:3.5rem;
  }
  .caption {
    font-size: 1.3rem;
  }

  &.approved {
    background-color: #4b9441;
  }

  &.rejected {
    background-color: #424242;
  }

}

.admin-section .spacer {
  height: 1rem;
}

.admin-section .push-right {
  margin-right: 3rem;
}
