<template name="Admin">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">ADMIN PANEL</div>

    </div>

  </div>

  <div class="admin-section">

    {{> adminFilters}}

    <div class="divider"></div>

    {{> chronology}}

  </div>

</template>

<template name="adminFilters">

  {{#each adminFilters}}

    <div class="admin-filter simptip-position-top simptip-fade {{color}} {{active}}" data-action="select-filter" data-tooltip={{tooltip}}>

      <i class="{{icon}}"></i>
      <div class="text">
        {{text}}
      </div>
      <div class="count">
        {{count}}
      </div>

    </div>

  {{/each}}

</template>

<template name="chronology">

  {{#each chronology}}

    <div class="date">{{dateFormat date 'MMMM.DD.YYYY'}}</div>

    {{#each this.apps}}

      {{>appAdminItem app=this}}

    {{/each}}

  {{/each}}

</template>
