<template name="Admin">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">ADMIN PANEL</div>

    </div>

  </div>

  <div class="admin-section">

    {{> adminFilters}}

    <div class="divider"></div>

    {{#if genreView}}
      {{> genreSection}}
    {{else}}
      {{> chronology}}
    {{/if}}

  </div>

</template>

<template name="adminFilters">

  {{#each adminFilters}}

    <div class="admin-filter {{#if tooltip}}simptip-position-top simptip-fade{{/if}} {{color}} {{active}}" data-action="select-filter" data-tooltip={{tooltip}}>

      <i class="{{icon}}"></i>
      <div class="text">
        {{text}}
      </div>
      <div class="count">
        {{count}}
      </div>

    </div>

  {{/each}}

  <div class="admin-filter grey square {{#if genreView}}active{{/if}}" data-action="genre-view">
    <div class="text">
      Suggested Genres
    </div>
    <div class="count">
      {{suggestedGenresCount}}
    </div>
  </div>

  <div class="filter-description-row clearfix">

    <div class="right-float">
      <div class="sandstorm-button neutral big-icon" data-action="search">
        {{#if searchOpen}}<input type="text" class="button-search" data-field="search-term" />{{/if}}
        <i class="icon-search"></i>
      </div>
    </div>

    {{#with liveFilter}}
    <div class="filter-description">
      {{#if this.tooltip}}
        <i class="{{this.icon}}"></i>
        <div class="text">
          {{this.tooltip}}
        </div>
      {{/if}}
    </div>
    {{/with}}

  </div>

</template>

<template name="chronology">

  {{#each chronology}}

    <div class="date">{{dateFormat date 'MMMM.DD.YYYY'}}</div>

    {{#each this.apps}}

      {{>appAdminItem app=this}}

    {{/each}}

  {{/each}}

</template>

<template name="genreSection">

  <div class="admin-filter grey square {{#if genreFilter 'suggestedGenres'}}active{{/if}}" data-action="select-genre" data-genre="suggestedGenres">
    <div class="text">
      Suggested Genres
    </div>
  </div>

  <div class="admin-filter grey square {{#if genreFilter 'approved'}}active{{/if}}" data-action="select-genre" data-genre="approved">
    <div class="text">
      Approved
    </div>
  </div>

  <div class="admin-filter grey square {{#if genreFilter 'rejected'}}active{{/if}}" data-action="select-genre" data-genre="rejected">
    <div class="text">
      Rejected
    </div>
  </div>

  {{#each categories}}
    <div class="admin-filter grey square {{#if genreFilter name}}active{{/if}}" data-action="select-genre">
      <div class="text">
        {{name}}
      </div>
    </div>
  {{/each}}

  <div class="divider"></div>

  {{#with genreTemp}}
    {{> Template.dynamic template=this.template data=this.data}}
  {{/with}}

</template>


<template name="suggestedGenres">

  {{#each genres}}

  <div class="left-float push-right">

    <div class="admin-filter grey square">
      <div class="text">
        {{name}}
      </div>
    </div>

    <div class="spacer"></div>

    <div class="genre-button {{#if equal approved 0}}approved{{/if}}" data-action="approve-genre">
      <i class="icon-approved_dark"></i>
      <div class="caption">
        Approve
      </div>
    </div>

    <div class="genre-button {{#if equal approved 1}}rejected{{/if}}" data-action="reject-genre">
      <i class="icon-rejected_dark"></i>
      <div class="caption">
        Reject
      </div>
    </div>

  </div>

  <div class="rem-space-float">

    {{#each appList}}
      {{> appItemTiny app=this}}
    {{/each}}

  </div>

  {{/each}}

</template>

<template name="genreDisplay">

  {{#each appList}}
    {{> appItemTiny app=this}}
  {{/each}}

</template>
