/*
  Icon Font: sandstorm
*/

@font-face {
  font-family: "sandstorm";
  src: url("./sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.eot");
  src: url("./sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.eot?#iefix") format("embedded-opentype"),
       url("./sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.woff") format("woff"),
       url("./sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.ttf") format("truetype"),
       url("./sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.svg#sandstorm") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sandstorm";
    src: url("./sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.svg#sandstorm") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-admin:before,
.icon-approve:before,
.icon-approved_dark:before,
.icon-approved_light:before,
.icon-apps:before,
.icon-arrow-install:before,
.icon-edit:before,
.icon-fb:before,
.icon-flagged_dark:before,
.icon-flagged_light:before,
.icon-garbage:before,
.icon-gh:before,
.icon-go:before,
.icon-logo:before,
.icon-logo-image:before,
.icon-market:before,
.icon-my:before,
.icon-myapps:before,
.icon-porting-guide:before,
.icon-private:before,
.icon-reject:before,
.icon-rejected_dark:before,
.icon-rejected_light:before,
.icon-revisions:before,
.icon-search:before,
.icon-speechbox:before,
.icon-star:before,
.icon-tw:before,
.icon-updated:before,
.icon-upload:before {
  display: inline-block;
  font-family: "sandstorm";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-admin:before { content: "\f100"; }
.icon-approve:before { content: "\f101"; }
.icon-approved_dark:before { content: "\f102"; }
.icon-approved_light:before { content: "\f103"; }
.icon-apps:before { content: "\f104"; }
.icon-arrow-install:before { content: "\f105"; line-height: normal; }
.icon-edit:before { content: "\f106"; }
.icon-fb:before { content: "\f107"; }
.icon-flagged_dark:before { content: "\f108"; }
.icon-flagged_light:before { content: "\f109"; }
.icon-garbage:before { content: "\f10a"; }
.icon-gh:before { content: "\f10b"; }
.icon-go:before { content: "\f10c"; }
.icon-logo:before { content: "\f10d"; }
.icon-logo-image:before { content: "\f10e"; }
.icon-market:before { content: "\f10f"; }
.icon-my:before { content: "\f110"; }
.icon-myapps:before { content: "\f111"; }
.icon-porting-guide:before { content: "\f112"; }
.icon-private:before { content: "\f113"; }
.icon-reject:before { content: "\f114"; }
.icon-rejected_dark:before { content: "\f115"; }
.icon-rejected_light:before { content: "\f116"; }
.icon-revisions:before { content: "\f117"; }
.icon-search:before { content: "\f118"; }
.icon-speechbox:before { content: "\f119"; }
.icon-star:before { content: "\f11a"; }
.icon-tw:before { content: "\f11b"; }
.icon-updated:before { content: "\f11c"; }
.icon-upload:before { content: "\f11d"; }
