@import "../../stylesheets/variables";

.note-entry {

  width: 100%;
  display: block;
  resize: none;
  box-sizing: border-box;
  height: 10rem;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: none;
  background: #ffffff;
  border: 1px solid #ccb8d1;
  color: #555555;
  font-size: 1.95rem;
  font-family: $main-font;
  line-height: 2.8rem;
  outline: none;
  overflow-y: hidden;

}

.description-editor-container {

  .tab {
    display: inline-block;
    font-size: 1.6rem;
    height: auto;
    width: auto;
    cursor: pointer;
    padding: 1rem;
    color: #555555;
    font-weight: 300;

    &.active {
      color: #222222;
      font-weight: 400;
    }
  }

}

.description-editor {

  width: 100%;
  min-height: 8rem;
  display: block;
  box-shadow: none;
  background: #ffffff;
  border: 1px solid #ccb8d1;
  color: #555555;
  font-size: 1.95rem;
  font-family: $main-font;
  height: 2.8rem;
  line-height: 2.8rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  box-sizing: border-box;
  resize: vertical;
  outline: none;
  overflow-y: auto;

  &.hidden {
    display: none;
  }

}

.icon-captions {

  font-size: 1.6rem;

  .left {
    display: inline-block;
    width: 250px;
  }

  .right {
    margin-left: 1.5rem;
    display: inline-block;
  }

}
