<template name="Review">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">APP REVIEW</div>

    </div>

  </div>

  {{#with app}}
  <form class="edit-box clearfix">

    <div class="section">

      <div class="right-float on-top">

        <div class="button-block">

          {{#if submitted}}
            <div class="message">
              <a href="/appsByMe">SUBMITTED ON <span class="date">{{dateFormat submitted 'DD MMM YYYY'}}</span></a>
            </div>
          {{else}}
            {{#if lastEdit}}
              <div class="message">
                <i class="green icon-approved_dark"></i>SAVED AT {{dateFormat lastEdit 'hh:mm, DD MMM YYYY'}}
              </div>
            {{/if}}
          {{/if}}
          <div class="sandstorm-button color green {{#if equal parentApp.approved 0}}active{{/if}}" data-action="approve">
            <i class="icon-approved_light"></i>
            <div class="text">Approve</div>
          </div>
          <div class="sandstorm-button color purple {{#if equal parentApp.approved 2}}active{{/if}}" data-action="request-revision">
            <i class="icon-revisions"></i>
            <div class="text">Request Revision</div>
          </div>
          <div class="sandstorm-button color black {{#if equal parentApp.approved 3}}active{{/if}}" data-action="reject">
            <i class="icon-rejected_light"></i>
            <div class="text">Reject</div>
          </div>
          <div class="sandstorm-button color yellow {{#if isFlagged}}active{{/if}}" data-action="flag">
            <i class="icon-flagged_light"></i>
            <div class="text">Flag</div>
          </div>

        </div>

      </div>

      <h3 class="title inline-block">Notes to the Author: </h3>

      <div class="spacer clearfix"></div>

      <textarea class="note-entry" data-field="note-entry"></textarea>

      <div class="spacer clearfix"></div>

      {{> appNotesBox notes=parentApp.notes}}

      <div class="spacer clearfix"></div>

      <div class="right-float on-top">

        <div class="button-block">
          <!-- <div class="sandstorm-button neutral" data-action="">
            SAVE
          </div> -->
          <div class="sandstorm-button neutral" data-action="submit-note">
            SUBMIT
          </div>
          <!-- <i class="icon-garbage" data-action=""></i> -->
        </div>

      </div>

      <div class="spacer clearfix"></div>

    </div>

    <div class="section clearfix">

      <h3 class="title">Application File</h3>

      <div class="half-col">

        {{> fileBox version="update"}}

      </div>

      <div class="half-col">

        <h3 class="title">Title</h3>
        {{#if fieldEdit 'name'}}
          <input type="text" data-field="name" value="{{name}}" required />
        {{else}}
          <div class="{{#if edited 'name'}}highlight{{/if}}" data-alt-field="name">{{name}}</div>
        {{/if}}

        <h3 class="title">Author</h3>
        <div class="read-only">{{getUsername author}}</div>

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h4 class="mini-title">Ported by</h4>
        <div class="read-only">{{getUsername author}}</div>

        <h4 class="mini-title">Code URL</h4>
        {{#if fieldEdit 'codeLink'}}
          <input type="text" data-field="codeLink" value="{{codeLink}}" pattern="https?://.+" />
        {{else}}
          <div class="{{#if edited 'codeLink'}}highlight{{/if}}" data-alt-field="codeLink">{{verboseNone codeLink}}</div>
        {{/if}}

        <h4 class="mini-title">License</h4>
        {{#if fieldEdit 'license'}}
          <input type="text" data-field="license" value="{{license}}" />
        {{else}}
          <div class="{{#if edited 'license'}}highlight{{/if}}" data-alt-field="license">{{verboseNone license}}</div>
        {{/if}}

        <h4 class="mini-title">Version</h4>
        {{#if fieldEdit 'latestVersion'}}
          <input type="text" data-action="update-version" data-version-field="number" value="{{latestVersion}}" />
        {{else}}
          <div data-alt-field="latestVersion" data-action="update-version">{{verboseNone lastVersionNumber.number}}</div>
        {{/if}}

      </div>

      <div class="half-col">

        <h4 class="mini-title">Website</h4>
        {{#if fieldEdit 'webLink'}}
          <input type="text" data-field="webLink" value="{{webLink}}" />
        {{else}}
          <div class="{{#if edited 'webLink'}}highlight{{/if}}" data-alt-field="webLink">{{verboseNone webLink}}</div>
        {{/if}}

        {{> connectButton service="github"}}
        {{> connectButton service="google"}}

      </div>

      {{#if newVersion}}
        <h4 class="mini-title left-float">Version Changes</h4>

        <div class="version-changes">
          <textarea placeholder="What's new in this version?" data-action="update-version" data-version-field="changes"></textarea>
        </div>
      {{/if}}

      <h3 class="title">Genre</h3>

      {{> genreGrid}}

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h3 class="title">Icon</h3>

        {{> iconPicker}}

        <div class="identicon-instructions">
          <div>For the best results, we suggest the icon be:</div>
          <div><strong>600px</strong> wide by <strong>600px</strong> high (minimum) in PNG or JPEG format.</div>

          {{#unless equal image originalApp.image}}
            <div class="identicon-container small">
              <div class="identicon" style="background-image: url('{{imageUrl originalApp.image}}')" data-field="icon-image">#
              </div>
            </div>
          {{/unless}}

        </div>

        {{#unless equal image originalApp.image}}
        <div class="clearfix icon-captions">
          <div class="left">
            NEW ICON
          </div>
          <div class="right">
            CURRENT ICON
          </div>
        </div>
        {{/unless}}

      </div>

      <div class="half-col">

        <h3 class="title">Display in Market?</h3>

        <div class="public-private">
          <div class="sandstorm-button left {{#if public}}active{{/if}}" data-action="toggle-private">
            <i class="fa fa-eye"></i>
            PUBLIC
          </div>
          <div class="sandstorm-button right {{#unless public}}active{{/unless}}" data-action="toggle-private">
            <i class="fa fa-lock"></i>
            PRIVATE
          </div>
        </div>

        <h3 class="title">Suggested Donation
          <span class="simptip-position-bottom simptip-smooth simptip-fade" data-tooltip="Opt out of app market contributions"><i class="fa fa-caret-down" data-action="make-free" ></i></span>
        </h3>

        <div class="donation-box">
          <i class="fa fa-dollar"></i>
          <input type="number" data-field="price" min="0" step="0.01" value="{{price}}" />
        </div>

        <div class="donation-instructions">
          Users&nbsp;can&nbsp;chip&nbsp;in&nbsp;any&nbsp;amount,
          but&nbsp;authors&nbsp;set&nbsp;the&nbsp;default&nbsp;position&nbsp;of&nbsp;the&nbsp;slider.
        </div>

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <h3 class="title">Screenshots</h3>

      <div class="screenshot-instructions">
        <div>Show your app in action. These images will be displayed in a side-scroll. For the best results, we suggest your screenshots be:</div>
        <div><strong>800px</strong> wide by <strong>450px</strong> high (minimum) in PNG or JPEG format.</div>
      </div>

      {{> screenshotPicker screenshots=screenshots comments='admin'}}

      <h3 class="title">Description</h3>

      {{> descriptionEditor initial=description}}

    </div>

    <div class="spacer"></div>

    <div class="right-float clearfix on-top">

      <div class="button-block">
        <div class="message">
          Currently marked as:
        </div>
        {{#with status}}
          <div class="status {{color}}">
            <i class="{{icon}}"></i> {{text}}
          </div>
        {{/with}}

        <div class="sandstorm-button neutral" data-action="scroll-top">
          TOP <i class="fa fa-caret-up"></i>
        </div>
        <div class="sandstorm-button neutral" data-action="save-admin-requests">
          SAVE
        </div>
        <div class="sandstorm-button neutral" data-action="submit-admin-requests">
          SUBMIT REQUESTS
        </div>
        <i class="icon-garbage" data-action="discard-admin-requests"></i>
      </div>

    </div>

  </form>
  {{/with}}

</template>

<template name="descriptionEditor">

  <div class="description-editor-container">
    <div class="tab {{#unless viewOriginal}}active{{/unless}}" data-action="edit-markdown">Current</div>
    <div class="tab {{#if viewOriginal}}active{{/if}}" data-action="view-original">Original</div>
    <textarea class="description-editor {{#if viewOriginal}}hidden{{/if}}" data-field="description">{{current}}</textarea>
    <div class="description-editor {{#unless viewOriginal}}hidden{{/unless}}">{{{original}}}</div>
  </div>

</template>
