.app-item-inner {

  &.reviews-section {
    .rating .app-rating-container {
      .message {
        color: #222222;
      }
      i {
        color: #888888;
      }
    }
  }

  .app-rating-container {

    display: inline-block;
    vertical-align: top;
    line-height: auto;
    font-size: 1.7rem;

    > i {
      display: inline-block;
      vertical-align: middle;
      font-size: 2.1rem !important;
      color: #888888;

      &.purple {
        color: #c18ace;
      }
    }

    .message {
      display: inline-block;
      color: #783189;
      font-size: 1.3rem;

      &.table {
        display: block;
        text-align: center;
        > i {
          display: inline-block;
          width: 12%
        }
        > span {
          display: inline-block;
          width: 70%;
        }
      }
    }

    .ratings {

      display: inline-block;
      vertical-align: middle;


      .text {
        display: block;
        position: relative;
        color: #3d9145;
        line-height: 0.75rem;
        height: 0.75rem;

        .labels {
          position: absolute;
          left: 0;
          width: 100%;
          top: 0;
          bottom: 0;
          font-size: 0;
          height: 1.5rem;
          line-height: 0;

          > * {
            position: relative;
            height: 100%;
            top: 0;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            font-size: 1.1rem;
            color: #222222;
          }

          > i {
            line-height: 0;
            margin-left: 0.25em;
            margin-right: 0.25em;
            color: #888888;
          }
        }
      }

      .bar {
        $bar-height: 1.25rem;

        display: block;
        width: 15rem;
        position: relative;
        z-index: 0;
        height: $bar-height;

        .background {
          background-color: #ede9ee;
          height: 100%;
          width: 100%;
          position: relative;

          &.light {
            background-color: #ffffff;
          }
        }
        .fill {
          position: absolute;
          left: 0;
          width: 100%;
          top: 0;
          bottom: 0;
          font-size: 0;
          height: $bar-height;
          line-height: 0;

          > * {
            position: relative;
            height: 100%;
            top: 0;
            display: inline-block;
          }

          .broken { background-color: #db1a00; }
          .didnt-like { background-color: #d8d8d8; }
          .job-done { background-color: #41af00; }
          .amazing { background-color: #005e1b; }
        }

      }

    }

    [data-action="rate-app"] {

      cursor: pointer;

    }

  }

}

.app-item-container {

  .app-rating-container {
    display: block;

    .message {
      color: #888888;
    }
  }

}
