@import "../../stylesheets/variables";

.app-item-container {

  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: $app-container-width;
  padding-left: $app-container-margin-lr;
  padding-right: $app-container-margin-lr;
  padding-top: $app-container-margin-tb;
  padding-bottom: $app-container-margin-tb;
  box-sizing: border-box;
  cursor: pointer;

  .app-item-inner {

    height: $app-container-height;
    padding-top: $app-container-padding-top;
    padding-bottom: $app-container-padding-bottom;
    padding-left: $app-container-padding-lr;
    padding-right: $app-container-padding-lr;
    box-shadow: $app-container-box-shadow;
    background-color: $app-box-bg;
    box-sizing: border-box;
    position: relative;

    .text-section {

    }

    .image-surround {

      position: relative;
      height: 0;

      // Hack: We want the image height to be exactly equal to the width, without having to
      // compute the width manually. It turns out that if you use a percentage in a padding value,
      // it is always a percent of the width -- even for *vertical* padding. So we force this
      // element to be square by giving it zero height but padding-bottom 100% (=width). Then we
      // absolutely position the image inside it, so it covers the padding.
      padding-bottom: 100%;

      .image {

        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;

      }

    }

    .highlight {
      background-color: yellow;
    }

    .app-name {

      font-size: $app-name-font-size;
      font-weight: normal;
      color: $app-name-text;
      line-height: $app-name-line-height;
      margin-top: 0.3rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

    }

    .app-short-description {

      font-size: $app-short-description-font-size;
      font-weight: 400;
      color: $app-short-description-text;
      line-height: $app-short-description-line-height;
      margin-bottom: 0.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    .app-author {

      font-size: $app-author-font-size;
      color: $app-author-text;
      text-transform: uppercase;
      line-height: $app-author-line-height;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    .app-rating {

      font-size: $star-font-size;
      line-height: $star-line-height;
      padding-bottom: 0.5rem;

      .rate-it {
        display: inline-block;
        margin-left: 1rem;
        color: $rate-it-text;
        cursor: pointer;

        &:hover {
          color: $rate-it-hover-text;
        }
      }

    }

    .install-price {

      line-height: $app-install-price-line-height;

      .app-install {

        position: absolute;
        z-index: 100;
        bottom: $app-container-padding-bottom;
        left: $app-container-padding-lr;
        right: $app-container-padding-lr;
        display: block;
        font-size: $app-install-font-size;
        font-weight: normal;
        padding-top: $app-install-padding-tb;
        padding-bottom: $app-install-padding-tb;
        padding-left: $app-install-padding-lr;
        padding-right: $app-install-padding-lr;
        min-width: 9rem;
        box-sizing: border-box;
        text-align: center;
        color: $app-install-text;
        background-color: $app-install-bg;
        cursor: pointer;

        i {

          color: $app-install-icon-col;

        }

      }

      .app-price {

        display: inline-block;
        float: right;
        font-size: $app-price-font-size;
        font-weight: 400;
        color: $app-price-col;

        &.free {
          color: $app-price-free-col;
        }

      }

      .uninstall-app {

        font-size: $installed-bar-icon-size;
        color: $installed-bar-icon;
        cursor: pointer;
        display: inline-block;
        float: right;

      }

    }

    .installed-bar {

      color: $installed-bar-text;
      background-color: $installed-bar-bg;
      position: absolute;
      bottom: 0;
      height: $installed-bar-height;
      line-height: $installed-bar-height;
      left: 0;
      right: 0;
      font-size: $installed-bar-font-size;
      padding-left: $installed-bar-padding-left;
      padding-right: $installed-bar-padding-right;
      white-space: nowrap;

      .installed-details {

        display: inline-block;
        max-width: 85%;
        overflow-x: hidden;
        text-overflow: ellipsis;

        > * {

          display: inline-block;

        }

        .install-date {

          margin-right: 0.6rem;

          .install-date-inner {

            display: inline-block;
            text-transform: uppercase;

          }
        }

        .installed-text {

          display: none;

        }

      }

    }

  }

  .update-chrome {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $update-app-bg;
    color: $update-app-text;
    z-index: 2;
    font-size: $update-app-font-size;
    padding-left: $update-app-padding-lr;
    padding-right: $update-app-padding-lr;
    user-select: none;

    .header-row {

      height: $update-app-height;
      line-height: $update-app-height;
      text-align: center;

      .text {
        display: inline-block;
      }

      i {
        margin-left: 1rem;
        color: $update-app-caret;
        font-size: $update-app-caret-size;
      }

    }

    .divider {

      border-bottom: 1px solid $update-app-divider;

    }

    .expanding-section {

      display: none;

      .description {

        margin-top: $update-app-section-margin-tb;
        margin-bottom: $update-app-section-margin-tb;

      }

      .read-more {

        margin-top: $update-app-section-margin-tb;
        margin-bottom: $update-app-section-margin-tb;
        float: right;

      }

      .update-button {

        display: inline-block;
        text-align: center;
        float: right;
        clear: both;
        background-color: $update-app-bg;
        color: $update-app-text;
        width: $update-app-update-button-width;
        line-height: $update-app-update-button-height;
        border-radius: $button-border-radius;
        cursor: pointer;

      }

    }

    &.open {

      background-color: $update-app-open-bg;
      color: $update-app-open-text;
      left: $app-container-padding-lr;
      right: $app-container-padding-lr;
      height: $app-image-height + $update-app-height;

      .header-row {

        i {
          color: $update-app-open-caret;
        }

      }

      .expanding-section {

        display: block;

        .description {

          max-height: $app-image-height - (1.8 *$update-app-height);
          overflow-y: hidden;

        }

      }

      &.with-update-button {

        .expanding-section {

          display: block;

          .description {

            max-height: $app-image-height - (2.8 *$update-app-height);

          }

        }

        i {
          color: $update-app-open-caret;
        }

      }

    }

    .app-updated-overlay {

      display: none;
      position: absolute;
      background-color: $update-app-open-bg;
      top: 0;
      bottom: 0;
      left: $update-app-padding-lr;
      right: $update-app-padding-lr;

      .app-updated-tick-surround {

        .tick-svg {

          position: absolute;
          left: 0;
          right: 0;
          top: $update-app-height;
          bottom: 0;
          background-image: url('icons/raw/approved_purple.svg');

        }

      }

      &.visible {

        display: block;

      }

    }

  }

  &.large {

    width: $app-container-width-large;
    max-width: 100%;

    .app-item-inner {

      .image-surround {

        margin-right: $app-image-large-margin-right;
        float: left;
        height: 100%;
        width: $app-image-large-width;
        max-width: 50%;
        padding-bottom: 0;  // Undo hack from above.

      }

      .text-section {

        height: 100%;
        overflow-y: hidden;
        position: relative;

        .app-name {

          font-size: $app-name-large-font-size;

        }

        .app-short-description {

          font-size: $app-short-description-large-font-size;

        }

        .app-author {

          font-size: $app-author-large-font-size;

        }

        .app-description {

          padding-top: 1rem;
          font-size: $app-description-large-font-size;
          font-weight: 400;
          color: $app-description-text;
          clear: both;
          overflow-y: hidden;

          >*:first-child {
            margin-top: 0;
          }

          .fade-box {
            position: absolute;
            height: 5rem;
            bottom: 2.5rem;
            left: 0;
            right: 0;
            width: 100%;
            background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

            &.hidden {
              display: none;
            }
          }

        }

        .install-price {
          .app-install {
            left: 0;
            right: 0;
            bottom: 0;
          }
        }

      }
    }

    @media (max-width: $small-tablet) {

      .app-item-inner {
        height: 2 * $app-container-height;

        .image-surround {
          width: 100%;
          height: 50%;
          max-width: initial;
          display: block;
          float: none;
        }

        .text-section {
          padding-top: 1rem;
          position: static;
          height: 50%;
          box-sizing: border-box;

          .app-description {
            .fade-box {
              bottom: 4rem;
            }
          }

          .install-price {
            .app-install {
              bottom: $app-container-padding-bottom;
              left: $app-container-padding-lr;
              right: $app-container-padding-lr;
            }
          }
        }

      }

    }

  }

  &.installed:first-child {

    .installed-bar .installed-text {

      display: inline-block;

    }

  }

  @media (max-width: $small-tablet) {
    max-width: 50%;
  }

}

.icon-star {

  &.dark {
    color: $star-col-dark;
  }
  &.light {
    color: $star-col-light;
  }

}

// App Item Tiny

.app-item-tiny {

  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 15rem;
  padding-left: $app-container-margin-lr;
  padding-right: $app-container-margin-lr;
  padding-bottom: $app-container-margin-tb;
  box-sizing: border-box;
  cursor: pointer;

  .app-item-inner {

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: $app-box-bg;
    box-sizing: border-box;
    position: relative;

    .unique-category {

      position: absolute;
      top: 0;
      left: 0.5rem;
      font-size: 4rem;
      color: #e5a045;
      z-index: 1;

    }

    .image-surround {

      position: relative;
      height: 10rem;


      .image {

        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        height: 100%;

      }

    }

    .app-name {

      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 0.5rem;
      color: $app-name-text;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;

    }

  }

}
