@import "../../stylesheets/variables";

.app-item-container.full-width {

  width: 100%;
  max-width: 125rem;
  font-size: 1.5rem;
  cursor: initial;

  .app-item-inner {

    height: 29.12rem;
    position: relative;

    .image-section {

      float: left;
      margin-right: 5.66rem;
      height: 100%;

      .image-surround-full-width {

        position: relative;
        height: 85%;
        width: 23rem;
        min-width: 15rem;

        .image {

          content: "";
          background-size: cover;
          background-position: center;
          display: block;
          height: 100%;

        }

      }

      .message-box {

        font-size: 1.7rem;
        margin-top: 1.3rem;

        &.approved {
          color: #4b9441;
        }
        &.pending {
          color: #7f7f7f;
        }
        &.revise {
          color: #ad2f80;
        }
        &.rejected {
          color: #424242;
        }
        &.draft {
          color: #a0a0a0;
        }

      }

    }

    .text-section {

      .divider {

        border-bottom: 1px solid #cfb5d6;
        margin-top: 0;
        margin-bottom: 0;

      }

      height: 100%;
      overflow-y: hidden;

      .top-section {

        border-bottom: 1px solid #cfb5d6;
        color: #222222;

        .edit-button, .public-private {
          float: right;
          clear: right;
          font-size: 0;
          margin-bottom: 0.9rem;
        }

        .app-name-full-width {
          float: left;
          clear: none;
          font-size: 3.1rem;
        }

        .app-author-full-width {
          clear: left;
          font-size: 1.7rem;
        }

      }

      .bottom-section {

        .details-block {

          width: 27.5%;
          line-height: 1.4;
          margin-right: 2.3rem;

          @media (max-width: $small-screen) {
            width: auto;
          }

        }

        .date {
          margin-top: 1rem;
          font-size: 1.7rem;
        }

        .genre {
          margin-bottom: 1rem;
          font-size: 1.7rem;
          color: #783189;
        }

        .key {

          display: inline-block;
          width: 7.5rem;
          font-size: 1.3rem;
          line-height: 1.3rem;
          height: 1.3rem;
          color: #7d627c;

        }

        .value {

          display: inline-block;
          width: calc(100% - 7.5rem);
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 1.3rem;
          line-height: 1.3rem;
          height: 1.3rem;
          color: #7d627c;
          white-space: nowrap;

        }

      }

      .rem-space-float {
        @media (max-width: $small-screen) {
          overflow: initial;
        }
      }

      .app-description {

        padding-top: 1.5rem;
        font-size: $app-description-large-font-size;
        color: $app-description-text;
        clear: both;
        overflow: ellipsis;
        font-size: 1.5rem;
        line-height: 1.4;
        color: #222222;

      }

    }

  }

  .state-bar {

    position: relative;
    top: -($app-container-box-shadow-size * 2);
    margin-bottom: -($app-container-box-shadow-size * 2);
    font-size: 1.32rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding-left: $app-container-padding-lr;
    padding-right: $app-container-padding-lr;

    &.approved, &.pending, &.draft {
      display: none;
    }
    &.revise {
      background-color: #ad2f80;
      color: #ffffff;
    }
    &.rejected {
      background-color: #424242;
      color: #ffffff;
    }

    a {
      font-weight: bold;
      color: #ffffff;
    }

  }

  @media (max-width: $small-tablet) {

    .app-item-inner {

      height: auto;

      .image-section {

        width: 100%;
        height: $app-container-height;
        max-width: initial;
        display: block;
        float: none;

        .image-surround-full-width {
          width: 100%;
        }

      }

      .text-section {
        margin-top: 1rem;

        .description-holder {
          height: auto;
          max-height: 25rem;

          .app-description {
            position: relative;

            .fade-box {
              top: 21.5rem;
              bottom: initial;
            }
          }

        }

      }

      .hide-for-phone {
        display: none;
      }

    }

    .state-bar {
      display: none;
    }

  }

}
