@import "../../stylesheets/variables";

.app-table, .app-table-large {

  margin-left: -$app-container-margin-lr;
  margin-right: -$app-container-margin-lr;
  font-size: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  clear: both;

  @media screen and (max-width: $small-tablet) {

    margin-left: 0;

  }

}

.app-table {
  overflow: hidden;
  position: relative;
  width: calc(100% + #{$app-container-margin-lr});
  height: $app-container-height + 2 * $app-container-margin-tb;

  .genre-other-section & {
    height: auto;
  }
}
