<template name="appItem">

  <div class="app-item-container {{size}} {{#if installed app}}installed{{/if}}" data-link="single-app">

    <div class="app-item-inner">

      {{#if ../../updateChrome}}

        {{> updateChrome}}

      {{/if}}

      {{#if equal size "large"}}

        {{#with app}}

          <div class="image-surround">

            <div class="image" style="background-image: url('{{imageUrl imageId}}');"></div>

          </div>

          <div class="text-section">

            <div class="app-name">{{name}}</div>

            <a href="{{getZippedPath 'appMarketAuthor' 'authorName' author.name}}"><div class="app-author">{{author.name}}</div></a>

            <div class="app-rating">{{> appRating ratings=ratings simple=true}}</div>

            <div class="install-price">

              <a href="{{fullInstallLink}}" target="_blank" class="app-install {{#if invoke 'installed'}}installed{{/if}}" data-action="install-app">
                {{#if invoke 'installed'}}RE-{{/if}}INSTALL  <i class="icon-arrow-install"></i>
              </a>

            </div>

            <div class="app-description">
              {{{description}}}
              <div class="fade-box"></div>
            </div>

          </div>

        {{/with}}

      {{else}}

        {{#with app}}

          <div class="image-surround large">

            <div class="image" style="background-image: url('{{imageUrl imageId}}');"></div>

          </div>

          <div class="app-name">{{name}}</div>

          <a href="{{getZippedPath 'appMarketAuthor' 'authorName' author.name}}"><div class="app-author">{{author.name}}</div></a>

          <div class="app-rating">
            {{> appRating ratings=ratings simple=true}}
          </div>

          {{#if ../../../installPage}}
{{!--
            <div class="installed-bar">

              <div class="installed-details">

                <div class="install-date">
                  <div class="installed-text">
                    INSTALLED
                  </div>
                  <div class="install-date-inner">
                    {{dateFormat installDetails.dateTime 'MMM DD'}}
                  </div>
                </div>

                <div class="installed-version">
                  V {{installDetails.version.number}}
                </div>

              </div>

              <div class="uninstall-app">
                <i class="icon-garbage" data-action="uninstall-app-modal"></i>
              </div>

            </div>
             --}}
            <div class="install-price">

              <a href="{{fullInstallLink}}" target="_blank" class="app-install {{#if invoke 'installed'}}installed{{/if}}" data-action="install-app">
                {{#if invoke 'installed'}}RE-{{/if}}INSTALL  <i class="icon-arrow-install"></i>
              </a>

              <div class="uninstall-app">
                <i class="icon-garbage" data-action="uninstall-app-modal"></i>
              </div>

            </div>

          {{else}}

            <div class="install-price">

              <a href="{{fullInstallLink}}" target="_blank" class="app-install {{#if invoke 'installed'}}installed{{/if}}" data-action="install-app">
                {{#if invoke 'installed'}}RE-{{/if}}INSTALL  <i class="icon-arrow-install"></i>
              </a>

            </div>

          {{/if}}

        {{/with}}

      {{/if}}

    </div>

  </div>

</template>

<template name="updateChrome">

  <div class="update-chrome {{#if isOpen}}open{{/if}} {{#unless autoupdateApps}}with-update-button{{/unless}}" data-action="toggle-open">

    <div class="contents">

      <div class="header-row">

        <div class="text">NEW VERSION {{latestVersion.number}}</div>

        <i class="fa {{#if isOpen}}fa-caret-up{{else}}fa-caret-down{{/if}}"></i>

      </div>

      <div class="expanding-section">

        <div class="divider"></div>

        <div class="description">
          {{latestVersion.changes}}
        </div>

        <a class="read-more" href="{{getZippedPath 'singleApp' 'appId' this._id}}">
          Read More >
        </a>

        {{#unless autoupdateApps}}
        <a class="update-button" data-action="update-app">
          UPDATE
        </a>
        {{/unless}}

      </div>

      <div class="app-updated-overlay">

        <div class="app-updated-tick-surround">

          <div class="header-row">

            <div class="text">THE APP IS NOW UPDATED</div>

          </div>

          <div class="divider"></div>

          <div class="tick-svg"></div>

        </div>

      </div>

    </div>

  </div>

</template>

<template name="appItemTiny">

  <div class="app-item-tiny">

    <div class="app-item-inner" data-action="admin-review">

      {{#if soleCategory}}
        <div class="unique-category"><i class="fa fa-exclamation"></i></div>
      {{/if}}

      {{#with app}}

        <div class="image-surround large">

          <div class="image" style="background-image: url('{{imageUrl imageId}}');"></div>

        </div>

        <div class="text-section">

          <div class="app-name">{{name}}</div>

        </div>

      {{/with}}

    </div>

  </div>

</template>
