@import "../../stylesheets/variables";

.app-table, .app-table-large {

  margin-left: -$app-container-margin-lr;
  font-size: 0;
  display: block;
  clear: both;

  @media screen and (max-width: $small-tablet) {

    text-align: center;
    margin-left: 0;

  }

}
