<template name="appItemFullWidth">

  <div class="app-item-container full-width">

    <div class="app-item-inner">

      {{#with app}}

      <div class="image-section">

        <div class="image-surround-full-width">

          <div class="image" style="background-image: url('{{image}}');"></div>

        </div>

        {{#with approvalState}}
        <div class="message-box {{messageClass}}"><i class="{{iconClass}}"></i> {{message}}</div>
        {{/with}}

      </div>

      <div class="text-section">

        <div class="top-section clearfix">

          <div class="left-float">

            <div class="app-name-full-width">{{#if name}}{{name}}{{else}}Untitled{{/if}}</div>

            <div class="app-author-full-width">
              {{#if upstreamAuthor}}
                {{upstreamAuthor}}
              {{else}}
                {{author.name}}
              {{/if}}
            </div>

          </div>

          <div class="right-float">

            <div class="edit-button hide-for-phone">
              {{#if equal approved approval.draft}}
                {{#if replacesApp}}
                <a class="sandstorm-button neutral small" href={{getZippedPath 'edit' 'appId' _id}}>
                  <i class="icon-edit"></i>
                  <span class="text">CONTINUE</span>
                </a>
                {{else}}
                <a class="sandstorm-button neutral small" href={{getZippedPath 'upload draft' 'appId' _id}}>
                  <i class="icon-edit"></i>
                  <span class="text">CONTINUE</span>
                </a>
                {{/if}}
              {{else}}
              <a class="sandstorm-button neutral small" href={{getZippedPath 'edit' 'appId' _id}}>
                <i class="icon-edit"></i>
                <span class="text">EDIT</span>
              </a>
              {{/if}}
            </div>

            <div class="public-private">
              <div class="sandstorm-button left {{#if public}}active{{/if}} small" data-action="toggle-private">
                <i class="fa fa-eye"></i>
                PUBLIC
              </div>
              <div class="sandstorm-button right {{#unless public}}active{{/unless}} small" data-action="toggle-private">
                <i class="fa fa-lock"></i>
                PRIVATE
              </div>
            </div>

          </div>

        </div>

        <div class="bottom-section clearfix">

          <div class="left-float block-phone details-block">

            <div class="date">{{dateFormat createdAt 'MMMM DD, YYYY'}}</div>
            <div class="genre">{{{genreString}}}</div>

            <div class="divider"></div>

            {{#if upstreamAuthor}}
              <div class="key">Ported by:</div><div class="value"><a href="{{getZippedPath 'appMarketAuthor' 'authorName' author.name}}">{{author.name}}</a>&nbsp;</div>
            {{/if}}
            <div class="key">License:</div><div class="value">{{verboseNone license}}&nbsp;</div>
            <div class="key">Code:</div><div class="value">{{verboseNone codeLink}}&nbsp;</div>
            <div class="key">Version:</div><div class="value">{{verboseNone latestVersionNumber}}&nbsp;</div>

          </div>

          <div class="rem-space-float description-holder">

            <div class="app-description">
              {{#if ensureDetailsFetched _id}}
                {{#markdown}}{{description}}{{/markdown}}
              {{else}}
                {{shortDescription}}
              {{/if}}
              <div class="fade-box"></div>
            </div>

          </div>

        </div>

      </div>

      {{/with}}

    </div>

    {{#with app}}
    {{#with approvalState}}
      <div class="state-bar {{messageClass}}">
        {{{fullMessage}}}
      </div>
    {{/with}}
    {{/with}}

  </div>

</template>
