<template name="appRating">
  {{#with aggregateReview}}
  <div class="app-rating-container">
    {{#if isNumber percentage.positive}}
    <div class="ratings">
      <div class="text">
        <div class="labels">
          <div class="amazing">{{numberFormat percentage.positive '0'}}%</div>
          <i class="icon-extra-thumbs-up"></i>
        </div>
      </div>
      <div class="bar">
        <div class="background {{backgroundCol}}"></div>
        <div class="fill">
          <div class="positive" style="width: {{percentage.positive}}%;"></div>
        </div>
      </div>
    </div>
    {{else}}
    {{!--
    <div class="message table" data-action="rate-app">
      <span>Be the first to rate</span>
      <i class="icon-extra-thumbs-up purple"></i>
      <i class="icon-extra-thumbs-down purple"></i>
    </div>
    --}}
    {{/if}}
  </div>
  {{/with}}
</template>

<template name="miniRating">
  {{#with aggregateReview}}
  <div class="app-mini-rating-container">
    <div class="bar">
      <div class="fill">
        <div class="{{../colorClass}}" style="width: {{../percentage}}%;"></div>
      </div>
    </div>
  </div>
  {{/with}}
</template>
