@import "../../stylesheets/variables";

.button-wrapper {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
}

.sandstorm-button {

  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: $update-selector-button-font-size;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $update-selector-button-padding-lr;
  padding-right: $update-selector-button-padding-lr;
  color: $update-selector-button-text;
  background-color: $update-selector-button-bg;
  border: 1px solid $update-selector-button-bg;
  border-radius: $button-border-radius;
  cursor: pointer;
  font-weight: 300;
  height: 3.1rem;
  line-height: 3.1rem;
  font-size: 1.35rem;

  i {
    color: $update-selector-button-icon;
    font-size: 1.2em;
    margin-right: 0.5rem;
    display: none;
    vertical-align: text-bottom;

    &:last-child {
      margin-left: 0.5rem;
      margin-right: 0;
    }
    &:only-child {
      margin-left: 0;
    }
  }

  &.big-icon {
    i {
      font-size: 1.6em;
    }
  }

  .text {
    display: inline-block;
    vertical-align: text-bottom;
  }

  &.left {
    left: 0.5rem;
  }

  &.secondary {
    color: $update-selector-button-active-text;
    background-color: $update-selector-button-active-bg;
    border-color: $update-selector-button-active-border;
    border-width: 1px;
    border-style: solid;

    i {
      color: #c9add0;
      display: inline-block;
    }
  }

  &.primary {
    color: #ffffff;
    background-color: #783189;
    border-color: #783189;
    border-width: 1px;
    border-style: solid;

    i {
      color: #aa79c6;
      display: inline-block;
    }
  }

  &.neutral {
    color: #6d627c;
    background: none;
    border-color: #6d627c;
    border-width: 1px;
    border-style: solid;

    i {
      color: #6d627c;
      display: inline-block;
    }

  }

  &.color {
    background-color: #ffffff;
    border-color: #cdc7d3;

    i { display: inline-block; }

    &.green {
      color: #4b9441;
      i { color: #4b9441; }
      &.active {
        background-color: #4b9441;
        border-color: #4b9441;
        color: #ffffff;
        i { color: #ffffff; }
      }
    }
    &.purple {
      color: #a965ba;
      i { color: #a965ba; }
      &.active {
        background-color: #a965ba;
        border-color: #a965ba;
        color: #ffffff;
        i { color: #ffffff; }
      }
    }
    &.yellow {
      color: #e5a045;
      i { color: #e5a045; }
      &.active {
        background-color: #e5a045;
        border-color: #e5a045;
        color: #ffffff;
        i { color: #ffffff; }
      }
    }
    &.black {
      color: #424242;
      i { color: #424242; }
      &.active {
        background-color: #424242;
        border-color: #424242;
        color: #ffffff;
        i { color: #ffffff; }
      }
    }

  }

  &.hidden {
    display: none !important;
  }

  &.hide-for-phone {
    @media (max-width: $small-tablet) {
      display: none;
    }
  }

  &.active {
    @extend .sandstorm-button.secondary;
    z-index: 1;
  }


  &.small {

    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .button-search {

    display: inline-block;
    vertical-align: super;
    box-shadow: none;
    background: none;
    border: none;
    color: #6d627c;
    width: 14rem;
    &:focus {
      outline: none;
    }

  }

}

.button-block {

  display: block;

  > * {

    display: inline-block;
    margin-right: $button-block-margin;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }

  }

  > i {

    font-size: 2.5rem;
    line-height: 2.5rem;

  }

  > .message {

    text-transform: uppercase;

    a {
      color: #222222;
    }

    .date {
      color: #783189;
    }

    .green {
      color: #4b9441;
    }

  }

  &.big-gap {
    > * {
      margin-right: 3rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}

.sandstorm-input {

  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  font-weight: 300;
  color: #6d627c;
  background: none;

  .input {

    height: 2.5rem;
    line-height: 2.5rem;
    font-size: $update-selector-button-font-size;
    display: inline-block;
    border-top: 1px solid #6d627c;
    border-bottom: 1px solid #6d627c;
    border-left: 1px solid #6d627c;
    border-top-left-radius: $button-border-radius;
    border-bottom-left-radius: $button-border-radius;
    padding-left: $update-selector-button-padding-lr;
    padding-right: $update-selector-button-padding-lr;

    input {

      display: inline-block;
      box-shadow: none;
      background: none;
      border: none;
      color: #6d627c;
      &:focus {
        outline: none;
      }

    }

  }

  .button {

    height: 2.5rem;
    line-height: 2.5rem;
    display: inline-block;
    background-color: #aa79c6;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: $update-selector-button-font-size;
    border-top: 1px solid #6d627c;
    border-bottom: 1px solid #6d627c;
    border-right: 1px solid #6d627c;
    border-top-right-radius: $button-border-radius;
    border-bottom-right-radius: $button-border-radius;

    i {
      color: #874598;
      line-height: 1em;
      font-size: 1.2em;
      margin-right: 0.5rem;

      &:last-child {
        margin-left: 0.5rem;
        margin-right: 0;
      }
    }
  }
}

.large-button {

  font-size: $large-button-font-size;
  padding-top: $large-button-padding-tb;
  padding-bottom: $large-button-padding-tb;
  padding-left: $large-button-padding-lr;
  padding-right: $large-button-padding-lr;
  background-color: $large-button-bg;
  color: $large-button-text;
  border-radius: $button-border-radius;
  border: 1px solid $large-button-border;
  cursor: pointer;

  i {
    color: $large-button-icon;
  }

  &.primary {

    background-color: $large-button-primary-bg;
    color: $large-button-primary-text;
    border: 1px solid $large-button-primary-border;

    i {
      color: $large-button-primary-icon;
    }

  }

}

.square-button {

  font-family: $main-font;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.75rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.15rem;
  padding-right: 3.15rem;
  cursor: pointer;
  font-weight: 300;
  height: 2.8rem;
  line-height: 2.8rem;
  color: #555555;
  background-color: #e7e4ea;
  text-align: center;
  box-shadow: none;
  border: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &.active {
    color: #ffffff;
    background-color: #aa79c6;
  }
  &.dark {
    color: #ffffff;
    background-color: #553f74;
  }
  &.light {
    color: #a965ba;
    background-color: #f3e6ff;
  }
  &.action {
    color: #555555;
    background-color: #ffffff;
    box-shadow: 0 0 0 1px #e7e4ea inset;
  }
  &.icon {
    background-color: #e7e4ea;
    color: #555555;
  }
  &.input {
    width: 10rem;
  }

}

.square-buttons {

  text-align: justify;
  white-space: nowrap;

  > .square-button {

    display: inline-block;
    padding-left: 0;
    padding-right: 0;

  }

  &.two {
    > .square-button {
      width: 50%;
    }
  }

  &.three {
    > .square-button {
      width: 33.3%;
    }
  }

  &.four {
    > .square-button {
      width: 25%;
    }
  }

}
