@import "../../stylesheets/variables";

.button-row {

  display: block;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;

}

.connect-button {

  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  width: 27.5rem;
  font-size: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $update-selector-button-padding-lr;
  padding-right: $update-selector-button-padding-lr;
  background-color: #ffe9f5;
  border-radius: $button-border-radius;
  cursor: pointer;
  font-weight: 300;
  height: 3.25rem;
  line-height: 3.25rem;

  i {
    color: #783189;
    font-size: 1.2em;
    margin-right: 0.5rem;
    width: 3rem;
    display: inline-block;

    &:last-child {
      margin-left: 0.5rem;
      margin-right: 0;
    }
  }

  .service-name {

    font-weight: bold;
    text-align: center;

  }

  &.left {
    left: 0.5rem;
  }

  &.connected {
    color: #ffe9f5;
    background-color: #783189;

    i {
      color: #ffe9f5;
    }
  }

  .disconnect {
    position: absolute;
    right: 0;
    line-height: 3.25rem;
  }

}
