<template name="getSandstormHostModal">

  <div class="anti-modal-box sandstorm-server-box">

    <div class="header">
      YOUR SANDSTORM SERVER
    </div>

    <div class="blurb">
      <p>
        Select from the list below or add a new one:
      </p>
    </div>

    <div class="hosts">
      {{#each hosts}}
      <div class="host-container">
        <a href={{installUrl}} class="sandstorm-button primary" data-action="install">
          {{this}}
          <i class="fa fa-times" data-action="remove-host"></i>
        </a>
      </div>
      {{else}}
        {{#with "https://demo.sandstorm.io/"}}
        <div class="host-container">
          <a href={{installUrl}} class="sandstorm-button primary" data-action="install">
            Sandstorm Demo Server
          </a>
        </div>
        {{/with}}
        <div class="host-container">
          <a href="https://sandstorm.io/install#{{appTitle}}" class="sandstorm-button primary" target="_blank">
            Install New Server
          </a>
        </div>
      {{/each}}

      <div class="or">
        or
      </div>

      <div class="sandstorm-input">
        <div class="input">
          <input type="url" required=true data-field="new-host" placeholder="https://example.sandcats.io" />
        </div>
        <div class="button" data-action="add-host">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>


  </div>

</template>
