<template name="getSandstormHostModal">

  <div class="anti-modal-box sandstorm-server-box">

    <div class="header">
      YOUR SANDSTORM SERVER
    </div>

    <div class="blurb">
      <p>
        {{#if hosts}}
          Select from the list below or add a new one:
        {{else}}
          Add your first server below:
        {{/if}}
      </p>
    </div>

    <div class="hosts">
      {{#each hosts}}
      <div class="host-container">
        <a href={{installUrl}} target="_blank" class="sandstorm-button primary" data-action="install">
          {{this}}
          <i class="fa fa-times" data-action="remove-host"></i>
        </a>
      </div>
      {{/each}}

      {{#if hosts}}
      <div class="or">
        or
      </div>
      {{/if}}

      <div class="sandstorm-input">
        <div class="input">
          <input type="url" required=true data-field="new-host" placeholder="https://your-server.io" />
        </div>
        <div class="button" data-action="add-host">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>


  </div>

</template>
