@import "../../stylesheets/variables";

.anti-modal-box.sandstorm {

  background-color: $modal-bg;
  color: $modal-text;
  font-size: $modal-font-size;
  font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;

  #login-email-label-and-input, #login-password-label-and-input {

    clear: both;
    overflow: hidden;

    input {

      float: right;
      color: $modal-text;
      background: none;
      font-size: $modal-font-size;
      font-family: "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
      border: 1px solid $topbar-item-bg;
      padding-left: $topbar-item-padding-lr;
      padding-right: $topbar-item-padding-lr;
      padding-top: $topbar-item-padding-tb;
      padding-bottom: $topbar-item-padding-tb;
      &:focus {
        outline: none;
        border: 1px solid $topbar-item-active-bg;
      }
    }

    label {
      $main-height: ($modal-font-size * 1.14) + ($topbar-item-padding-tb * 2);
      float: left;
      line-height: calc(#{$main-height} + 2px);
    }

  }

  #login-dropdown-list > *:not(:last-child), .login-form > *:not(:last-child) {

    margin-bottom: $modal-line-margin-bottom;

    &.or {

      margin-top: $modal-line-margin-bottom * 3;
      margin-bottom: $modal-line-margin-bottom * 3;
      text-align: center;

    }

  }

  .login-button, .additional-link-container {

    clear: both;
    display: inline-block;
    padding-left: $modal-button-padding-lr;
    padding-right: $modal-button-padding-lr;
    padding-top: $modal-button-padding-tb;
    padding-bottom: $modal-button-padding-tb;
    background-color: $modal-button-bg;
    color: $modal-button-text;
    cursor: pointer;

    &:hover, &:active {
      background-color: $modal-button-active-bg;
    }

  }

}
