@import "../../stylesheets/variables";

.menu-container {

  position: absolute;
  background-color: $menu-bg;
  color: $menu-text;
  width: $menu-width;
  box-shadow: $menu-box-shadow;
  z-index: 1;

  .menu-link {

    position: relative;
    display: block;
    padding-left: $menu-item-padding-left;
    padding-top: $menu-item-padding-tb;
    padding-bottom: $menu-item-padding-tb;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &.disabled {

      cursor: auto;

      .menu-text {

        color: $menu-icon-col;

      }

    }

    i {
      color: $menu-icon-col;
      font-size: $menu-icon-size;
      display: inline-block;
      width: 1.5em;
      vertical-align: middle;
    }

    .menu-text {
      font-size: $menu-font-size;
      display: inline;
      vertical-align: middle;
      color: $menu-text;
    }

    &.active:not(.disabled), &:hover:not(.disabled), &:active:not(.disabled) {

      background-color: $menu-active-bg;

      i {
        color: $menu-active-icon-col;
      }

      .menu-text {
        color: $menu-active-text;
      }

      &:after {
        visibility: hidden;
      }

    }

    &:not(:last-child):after {

      content:'';
      position: absolute;
      bottom: 0;
      left: 50%;
      width:98%;
      height:1px;
      margin-left: -49%;
      background-color: $menu-divider-col;

    }

  }

  @media screen and (max-width: $small-tablet) {

    position: relative;
    width: 100%;

    &:not(.open) {

      .menu-link:not(.active) {

        height: 0;
        padding: 0;

      }

    }

  }

}

.menu-spacer {

  margin-left: $menu-width + $app-section-padding-left;

  @media screen and (max-width: $small-tablet) {

    margin-left: 0;

  }

}

.pad-right {

  padding-right: $app-section-padding-right;

  @media screen and (max-width: $small-tablet) {

    padding-right: 0;

  }

}

.margin-right {

  margin-right: $app-section-padding-right;

  @media screen and (max-width: $small-tablet) {

    margin-right: auto;

  }

}
