<template name="Menu">

  <nav class="menu-container">

    <a class="menu-link {{inRouteCategory 'appMarket'}}" href="{{getPath 'appMarket'}}">
      <i class="icon-market"></i>
      <div class="menu-text">App Market</div>
    </a>

    {{#if installHistoryCount}}
    <a class="menu-link {{inRouteCategory 'installedApps'}}" href="{{getPath 'installedApps'}}">
      <i class="icon-apps"></i>
      <div class="menu-text">Install History</div>
    </a>
    {{/if}}

    <a class="menu-link {{inRouteCategory 'appsByMe'}} {{#unless currentUser}}disabled{{/unless}}" href="{{#if currentUser}}{{getPath 'appsByMe'}}{{/if}}">
      <i class="icon-extra-myapps_dark"></i>
      <div class="menu-text">Apps by Me</div>
    </a>

    <a class="menu-link {{inRouteCategory 'upload'}} hide-for-phone" href="{{getPath 'upload'}}">
      <i class="icon-upload"></i>
      <div class="menu-text">Upload an App</div>
    </a>

    {{#if isAdmin}}
    <a class="menu-link {{inRouteCategory 'admin'}} hide-for-phone" href="{{getPath 'admin'}}">
      <i class="icon-admin"></i>
      <div class="menu-text">Admin</div>
    </a>
    {{/if}}

    <a class="menu-link {{inRouteCategory 'login'}}" href="{{getPath 'login'}}">
      <i class="icon-my"></i>
      <div class="menu-text">{{#if currentUser}}{{currentUser.username}}{{else}}Log In{{/if}}</div>
    </a>

  </nav>

</template>
