@import "components";

body.serviceConfiguration {

  font-size: 1.5rem;
  margin-left: 1rem;

  .login-text-and-button {
    margin-bottom: 0.5rem;
  }

  .login-button {
    @extend .sandstorm-button;
    color: #ffffff;
    background-color: #783189;
    border-color: #783189;
    border-width: 1px;
    border-style: solid;

    i {
      color: #aa79c6;
      display: inline-block;
    }
  }

  .or-text {
    font-size: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 0;
    border-top: 1px dashed #aa79c6;
    display: block;
  }

  .login-form {
    padding: 0;

    > *:not(.login-button) {
      padding: 0;
      margin-bottom: 0.5rem;
    }

    input {
      margin: 0;
    }
  }

  .additional-link-container {
    margin-top: 0.5rem;
    padding: 0;
    display: inline-block;
  }

  .additional-link {
    @extend .sandstorm-button;
    color: #6d627c;
    background: none;
    border-color: #6d627c;
    border-width: 1px;
    border-style: solid;

    i {
      color: #6d627c;
      display: inline-block;
    }
  }

  .login-link-text {
    @extend .additional-link;
    margin-bottom: 0.5rem;
  }

  .login-close-text {
    font-size: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &:after {
      font-family: FontAwesome;
      content: "\f00d";
      font-size: 2rem;
      color: #888888;
    }
  }

  #login-buttons {

    margin-top: 1rem;
    position: relative;
    padding: 0.5rem;
    border: 1px solid #aa79c6;
    display: inline-block;

    label {
      width: 10rem;
      display: inline-block;
    }

  }

}
