@import "../../stylesheets/variables";

.topbar-container {
  background: $topbar-bg;
  height: $topbar-height;
  position: relative;
  z-index: 2;

  .logo-box {

    position: absolute;
    left: $topbar-logo-margin-left;
    color: $topbar-logo-text;

    > span {
      font-size: $topbar-logo-text-font-size;
      font-weight: normal;
    }

    i {
      display: inline;
      font-size: $topbar-logo-icon-size;
    }

  }

  .genre-holder {

    margin-left: $app-section-padding-left;
    margin-right: 32rem;
    position: relative;
    height: $topbar-height;

    @media (max-width: $small-phone) {
      margin-left: $app-section-padding-left;
      margin-right: 5rem;
      .genres {right: 0;}
    }

    @media (min-width: $small-phone) and (max-width: $medium-phone) {
      margin-left: $app-section-padding-left;
      margin-right: 17rem;
      .genres {right: 0;}
    }

    @media (min-width: $medium-phone) and (max-width: $small-tablet) {
      margin-left: $app-section-padding-left;
      margin-right: 22rem;
      .genres {right: 0;}
    }

    @media (min-width: $small-tablet + 1px) and (max-width: $medium-tablet) {

      margin-left: 28rem;
      margin-right: 22rem;
      .genres {right: 0;}

    }

    @media (min-width: $medium-tablet + 1px) and (max-width: $small-screen) {

      margin-left: 28rem;
      margin-right: 32rem;
      .genres {right: 0;}

    }

  }

  .genres {

    // THIS SECTION IS HIDDEN UNTIL WE'VE RESIZED IT TO FIT THE PAGE
    visibility: hidden;

    position: absolute;
    bottom: $topbar-padding-bottom;
    white-space: nowrap;

    a {

      display: inline-block;

      &.hide-above-small-phone {
        @media (min-width: $medium-phone) {
            display: none;
        }
      }

      &.show-above-small-phone {
        @media (max-width: $medium-phone) {
            display: none;
        }
      }

      &:first-child .genre-box {
        margin-left: 0;
      }

    }

    .genre-box {

      display: inline-block;
      vertical-align: middle;
      background-color: $topbar-item-bg;
      margin-right: $topbar-item-margin-right;
      padding-left: $topbar-item-padding-lr;
      padding-right: $topbar-item-padding-lr;
      padding-top: $topbar-item-padding-tb;
      padding-bottom: $topbar-item-padding-tb;
      font-size: $topbar-item-font-size;
      cursor: pointer;
      color: $topbar-item-text;

      &.active, &:active, &:hover {
        background-color: $topbar-item-active-bg;
      }

      a {
        color: $topbar-item-text;
      }

      &.extra-genres {

        position: relative;
        margin-right: 2.5rem;

        .extra-genres-list {

          height: 0;
          overflow: hidden;
          position:absolute;
          background-color: $topbar-item-bg;
          list-style-type: none;
          left: 0;
          padding-left: 0;
          top: 100%;
          margin-top: 0;

          &.open {
            height: auto;
          }

          .genre-box {
            display: block;
            margin-right: 0;
          }

          a {
            display: inline;
          }

          @media (max-width: $medium-tablet) {
            left: auto;
            right: 0;
          }

        }

        &.hidden {

          display: none;

        }

      }

    }

  }

  .search-section {

    position: absolute;
    right: $app-section-padding-right;
    bottom: $topbar-padding-bottom;
    text-align: right;

    .search-box {
      display: inline-block;
      vertical-align: middle;
      color: $topbar-item-text;
      background: $topbar-searchbox-bg;
      font-family: $main-font;
      font-size: $topbar-item-font-size;
      border: none;
      padding-left: $topbar-item-padding-lr;
      padding-right: $topbar-item-padding-lr;
      padding-top: $topbar-item-padding-tb;
      padding-bottom: $topbar-item-padding-tb;
      line-height: $topbar-search-height;

      &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px $topbar-item-active-bg;
      }

      @media (max-width: $medium-phone) {
        width: 28%;
      }
      @media (max-width: $small-phone) {
        display: none;
      }
    }

    .search-button {
      display: inline-block;
      vertical-align: middle;
      background-color: $topbar-item-bg;
      color: $topbar-item-text;
      font-size: $topbar-item-font-size;
      padding-left: $topbar-item-padding-lr;
      padding-right: $topbar-item-padding-lr;
      padding-top: $topbar-item-padding-tb;
      padding-bottom: $topbar-item-padding-tb;
      border: none;
      line-height: $topbar-search-height;

      &:active, &:hover {
        background-color: $topbar-item-active-bg;
      }

      @media (max-width: $small-phone) {
        display: none;
      }
    }

    @media (max-width: $medium-tablet) {
      right: 1.5rem;
    }

    @media (min-width: $medium-tablet) and (max-width: $small-screen) {
      right: 2rem;
    }

  }

}
