<template name="Topbar">

  <div class="topbar-container">

    <a class="logo-box" href="/appMarket">

      <i class="icon-logo show-above-phone"></i>
      <i class="icon-logo-image hide-above-phone"></i>

    </a>

    <div class="genre-holder">

      <div class="genres">

        {{#each genres}}

          <a href="/appMarket/genres/{{name}}" data-action="close-more-menu"><div class="genre-box {{#if active}}active{{/if}}">{{name}}</div></a>

        {{/each}}

        <div class="genre-box extra-genres" data-action="{{#if moreOpen}}close-more-menu{{else}}open-more-menu{{/if}}">
          <a class="more show-above-small-phone">More</a>
          <a class="more hide-above-small-phone">Genres</a>
          <ul class="extra-genres-list {{#if moreOpen}}open{{/if}}">
            {{#each extraGenres}}
              <a href="/appMarket/genres/{{name}}" data-action="close-more-menu"><li class="genre-box {{#if active}}active{{/if}}">{{name}}</li></a>
            {{/each}}
          </ul>
        </div>

        <input class="search-box" type="text" />
        <button class="search-button"><i class="icon-search"></i></button>

      </div>

    </div>

  </div>

</template>
