<template name="Topbar">

  <div class="topbar-container">

    <a class="logo-box" href="/">
      <i class="icon-logo-image"></i>
      <span class="logo-text-formatting"><span class="show-above-phone">Sandstorm App Market</span></span>
    </a>

    <div class="genre-holder">

      <div class="genres">

        <a href="/" class="show-above-phone" data-action="close-more-menu"><div class="genre-box {{#if active}}active{{/if}}">All</div></a>

        {{#each genres}}

          <a href="{{getZippedPath 'appMarketGenre' 'genre' name}}" data-action="close-more-menu"><div class="genre-box {{#if active}}active{{/if}}">{{name}}</div></a>

        {{/each}}

        <div class="genre-box extra-genres {{#unless extraGenres}}hidden{{/unless}}" data-action="{{#if moreOpen}}close-more-menu{{else}}open-more-menu{{/if}}">
          {{#if genres}}
            <a class="more">More</a>
          {{else}}
            <a class="more">Genres</a>
          {{/if}}
          <ul class="extra-genres-list {{#if moreOpen}}open{{/if}}">
            {{#each extraGenres}}
              <a href="{{getZippedPath 'appMarketGenre' 'genre' name}}" data-action="close-more-menu"><li class="genre-box {{#if active}}active{{/if}}">{{name}}</li></a>
            {{/each}}
          </ul>
        </div>

      </div>

    </div>

    <div class="search-section">
      <input class="search-box" type="text" data-field="search-term" />
      <button class="search-button" data-action="search-apps"><i class="icon-search"></i></button>
    </div>

  </div>

</template>
