@import "../../stylesheets/variables";

.topbar-container {
  background-color: $topbar-bg;
  height: $topbar-height;
  position: relative;
  z-index: 2;

  .logo-box {

    position: absolute;
    left: $topbar-logo-margin-left;
    bottom: $topbar-padding-bottom;
    color: $topbar-logo-text;

    i {

      font-size: $topbar-logo-icon-size;

    }

  }

  .genre-holder {

    margin-left: $menu-width + $app-section-padding-left;

    @media (max-width: $small-tablet) {

      margin-left: $app-section-padding-left;

    }

  }

  .genres {

    // THIS SECTION IS HIDDEN UNTIL WE'VE RESIZED IT TO FIT THE PAGE
    visibility: hidden;

    position: absolute;
    left: $menu-width + $app-section-padding-left;
    bottom: $topbar-padding-bottom;
    white-space: nowrap;

    .genre-box {

      display: inline-block;
      background-color: $topbar-item-bg;
      margin-right: $topbar-item-margin-right;
      padding-left: $topbar-item-padding-lr;
      padding-right: $topbar-item-padding-lr;
      padding-top: $topbar-item-padding-tb;
      padding-bottom: $topbar-item-padding-tb;
      font-size: $topbar-item-font-size;
      cursor: pointer;
      text-transform: uppercase;
      color: $topbar-item-text;

      &.active, &:active, &:hover {
        background-color: $topbar-item-active-bg;
      }

      a {
        color: $topbar-item-text;
      }

      &.extra-genres {

        position: relative;

        .extra-genres-list {

          height: 0;
          overflow: hidden;
          position:absolute;
          background-color: $topbar-item-bg;
          list-style-type: none;
          left: 0;
          padding-left: 0;
          top: 100%;
          margin-top: 0;

          &.open {
            height: auto;
          }

          .genre-box {
            display: block;
            margin-right: 0;
          }

        }

      }

    }

    .search-box {
      display: inline;
      color: $topbar-item-text;
      background: none;
      font-size: $topbar-item-font-size;
      border: 1px solid $topbar-item-bg;
      padding-left: $topbar-item-padding-lr;
      padding-right: $topbar-item-padding-lr;
      padding-top: $topbar-item-padding-tb;
      padding-bottom: $topbar-item-padding-tb;
      &:focus {
        outline: none;
        border: 1px solid $topbar-item-active-bg;
      }

      @media (max-width: $medium-phone) {
        width: 28%;
      }
      @media (max-width: $small-phone) {
        display: none;
      }
    }

    .search-button {
      display: inline;
      background-color: $topbar-item-bg;
      color: $topbar-item-text;
      font-size: $topbar-item-font-size;
      padding-left: $topbar-item-padding-lr;
      padding-right: $topbar-item-padding-lr;
      padding-top: $topbar-item-padding-tb;
      padding-bottom: $topbar-item-padding-tb;
      border: none;

      &:active, &:hover {
        background-color: $topbar-item-active-bg;
      }

      @media (max-width: $small-phone) {
        display: none;
      }
    }

  @media (max-width: $small-tablet) {

    left: initial;
    right: $topbar-logo-margin-left;
    text-align: right;

  }

  }

}
