@import "../../stylesheets/variables";

body {

  background-color: $main-page-bg;

}

.welcome-message {

  width: 100%;
  height: $welcome-message-height;
  background-color: $welcome-message-bg;

  .message {

    justify-content: flex-start;
    align-items: center;

    .text {

      color: $welcome-message-text;
      font-size: $welcome-message-font-size;

    }

  }

  &.collapsed {

    height: 0;

  }

  .close-button {

    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;

    i {
      font-size: 2.5rem;
      color: $welcome-message-text;
    }

  }

  @media screen and (max-width: $large-phone) {

    position: relative;

    .close-button {

      display: block;

    }
  }

}

.genre-name {

  font-size: $app-genre-font-size;
  color: $genre-title-text;
  margin-top: $app-genre-margin-top;
  margin-bottom: $app-genre-margin-bottom;

  &.large {
    font-size: $genre-page-title-height;
  }

  i.right-chevron {
    color: $genre-title-chevron;
  }

}
