<template name="Home">

  <div class="welcome-message">

    <div class="message">

      <div class="text">
          <a href="https://sandstorm.io" target="blank"><strong>Sandstorm.io</strong></a> is an
          <a href="https://github.com/sandstorm-io/sandstorm" target="blank"><strong>open source</strong></a> platform for
          servers.
      </div>

    </div>

    <div class="close-button">
      <i class="icon-rejected_dark"></i>
    </div>
  </div>
  <div class="text-banner">
    Install any of the apps below with just one click.
  </div>

  <div class="main-section">

    <div class="contents">

      {{!-- TEMPORARY: Just show "featured apps" on front page until we have enough apps to make
            genres make sense. --}}

      <div class="genre-name large">Featured Apps</div>

      <div class="genre-other-section">
        {{> genreTableOther genre="Featured"}}
      </div>

{{!--
      {{#each genres}}

        {{> genreTable genre=this.name singleLine=true}}

      {{/each}}
--}}

    </div>

  </div>

  <div class="load-more"></div>

</template>
