@import "../../stylesheets/variables";
@import "../components/menu";

body {

  background-color: $main-page-bg;

}

.welcome-message {

  position: relative;
  height: $welcome-message-height;
  background-color: #cad4ef;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('images/welcome-banner.png');
  overflow: hidden;

  @media screen and (max-width: $medium-tablet) {

    background-position-x: 0;

  }

  @media screen and (max-width: $small-tablet) {

    padding-left: 2.167rem;
    padding-right: 2.167rem;

  }

  .message {

    @extend .menu-spacer;
    height: $welcome-message-height;
    display: table-cell;
    vertical-align: middle;
    width: $infinity;
    text-align:center;

    .text {

      color: $banner-font-color;
      font-size: $banner-font-size;

      a {
            color: $banner-font-color;
        }
    }

  }

  &.collapsed {

    height: 0;

  }

  .close-button {

    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;

    i {
      font-size: 2.5rem;
      color: $welcome-message-text;
    }

  }

  @media screen and (max-width: $small-tablet) {

    position: relative;

    .close-button {

      display: block;

    }
  }

}

.text-banner {
  background-color: white;
  font-size: 250%;
  color: #783189;
  border-top: 1px solid #879ac1;
  text-align: center;
  padding: 1rem;
  @media screen and (max-width: $medium-tablet) {
    margin-left: 0;
  }
}

.main-section {

  .contents {

    @extend .menu-spacer;

  }

}

.genre-name {

  font-size: $app-genre-font-size;
  color: $genre-title-text;
  margin-top: $app-genre-margin-top;
  margin-bottom: $app-genre-margin-bottom;

  a {
    color: $genre-title-text;
  }

  a.see-all {
    display: block;
    float: right;
    background-color: $large-button-primary-bg;
    color: $large-button-primary-text;
    margin-right: 10rem;
    padding: 0.6rem 1.5rem;
    margin-top: -0.6rem;
  }

  &.large {
    font-size: $genre-page-title-height;
  }

  i.icon-chevron-right {
    color: $genre-title-chevron;
  }

  @media (max-width: $small-tablet) {
    padding-left: 1.167rem;
  }

}

.app-market-footer {
  display: inline-block;
  background-color: white;
  margin-right: 1em;
  max-width: 75%;
  padding-top: $app-container-padding-top;
  padding-bottom: $app-container-padding-bottom;
  padding-left: $app-container-padding-lr;
  padding-right: $app-container-padding-lr;
  font-size: $app-name-font-size;

  h2 {
    font-size: $app-name-font-size;
    margin-top: 0;
    margin-bottom: 0.6rem;
  }
  p {
    margin-top: 0.6rem;
    margin-bottom: 0;
  }
}
