<template name="Home">

  {{#if message}}
  <div class="welcome-message flex">

    <div class="menu-spacer"></div>

    <div class="message flex">

      <div class="text">{{message}}</div>

    </div>

    <div class="close-button">
      <i class="close icon fa fa-close"></i>
    </div>

  </div>
  {{/if}}

  <div class="main-section flex">

    <div class="menu-spacer"></div>

    <div class="contents">

      {{#each genres}}

        {{> genreTable this}}

      {{/each}}

    </div>

  </div>

</template>

<template name="genreTable">

  {{#if routerSubsReady}}
  {{#if count apps}}

  <div class="genre-name"><a href="/genres/{{this}}">{{this}} <i class="icon-chevron-right"></i></a></div>

  <div class="app-table">

    {{#each apps}}
      {{> appItem app=this}}
    {{/each}}

  </div>

  {{/if}}
  {{/if}}

</template>
