@import "../../stylesheets/variables";
@import "../components/menu";

body {

  background-color: $main-page-bg;

}

.welcome-message {

  position: relative;
  height: $welcome-message-height;
  background-color: #bacae2;
  background-position: $menu-width 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('images/welcome-banner.png');
  overflow: hidden;
  padding-left: $menu-width + $app-section-padding-left;

  @media screen and (max-width: $medium-tablet) {

    background-position-x: 0;

  }

  @media screen and (max-width: $small-tablet) {

    padding-left: 2.167rem;
    padding-right: 2.167rem;

  }

  .message {

    @extend .menu-spacer;
    height: $welcome-message-height;
    display: table-cell;
    vertical-align: middle;

    .text {

      color: $welcome-message-text;
      font-size: $welcome-message-font-size;

    }

  }

  &.collapsed {

    height: 0;

  }

  .close-button {

    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;

    i {
      font-size: 2.5rem;
      color: $welcome-message-text;
    }

  }

  @media screen and (max-width: $small-tablet) {

    position: relative;

    .close-button {

      display: block;

    }
  }

}

.main-section {

  .contents {

    @extend .menu-spacer;

  }

}

.genre-name {

  font-size: $app-genre-font-size;
  color: $genre-title-text;
  margin-top: $app-genre-margin-top;
  margin-bottom: $app-genre-margin-bottom;

  a {
    color: $genre-title-text;
  }

  &.large {
    font-size: $genre-page-title-height;
  }

  i.icon-chevron-right {
    color: $genre-title-chevron;
  }

  @media (max-width: $small-tablet) {
    padding-left: 1.167rem;
  }

}
