<template name="Home">

  <div class="welcome-message">

    <div class="message">

      <div class="text">
        <a href="https://sandstorm.io" target="blank"><strong>Sandstorm</strong></a> is a
        self-hostable web productivity suite.
      </div>

    </div>

    <div class="close-button">
      <i class="icon-rejected_dark"></i>
    </div>
  </div>
  <div class="text-banner">
    Install any of the apps below with just one click.
  </div>

  <div class="main-section">

    <div class="contents">

      {{!-- TEMPORARY: Show all apps, implemented the same as "featured apps" on front page until
            we have enough apps to break the front page down by genre. --}}

      <div class="genre-name large">
        {{#if stillWaitingOnApps}}
        Loading...
        {{else}}
        All Apps
        {{/if}}
      </div>

      <div class="genre-other-section">
        {{> genreTableOther genre="All"
        tableFinishedRenderingReactiveVar=tableFinishedRenderingReactiveVar}}
      </div>

{{!--
      {{#each genres}}

        {{> genreTable genre=this.name singleLine=true}}

      {{/each}}
--}}

      {{#if tableFinishedRendering}}
      <div class="app-market-footer">
        <div>
          <h2>Need an open source app that's not yet on the App Market?</h2>
          <p>Learn more about <a class="trigger-ga-event" href="https://docs.sandstorm.io/en/latest/developing/">packaging apps</a>.</p>
        </div>
      </div>
      {{/if}}

    </div>

  </div>

  <div class="load-more"></div>

</template>
