<template name="Edit">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">APP EDIT</div>

    </div>

  </div>

  {{#with app}}
  <form class="edit-box clearfix validation">

    {{#if parentApp.notes}}

      <h3 class="title inline-block">Notes to the Author: </h3>

      <div class="spacer clearfix"></div>

      <textarea class="note-entry" data-field="note-entry"></textarea>

      <div class="spacer clearfix"></div>

      {{> appNotesBox notes=parentApp.notes}}

      <div class="spacer clearfix"></div>

    {{/if}}

    <div class="right-float on-top">

      <div class="button-block">
        <div class="message">
          <i class="{{message.icon}}"></i>{{message.text}}
        </div>
        <div class="sandstorm-button neutral" data-action="submit-app">
          SUBMIT APP FOR REVIEW
        </div>
        <div class="sandstorm-button neutral" data-action="save-app">
          SAVE EDITS
        </div>
        <div class="sandstorm-button neutral" data-action="discard-edits">
          DISCARD EDITS
        </div>
        <i class="icon-garbage" data-action="delete-app"></i>
      </div>

    </div>

    <div class="section clearfix">

      <h3 class="title">Application File</h3>

      <div class="half-col">

        {{> fileBox version="update"}}

      </div>

      <div class="half-col">

        <h3 class="title" data-invalid={{validate 'name'}}>Title</h3>
        {{#if changedOriginal}}<div class="admin-field">{{parentApp.name}}</div>{{/if}}
        {{#if fieldEdit 'name'}}
          <input type="text" data-field="name" value="{{name}}" required />
        {{else}}
          <div data-alt-field="name">{{name}}</div>
        {{/if}}

        <h3 class="title">Author</h3>
        <div class="read-only">{{parentApp.authorName}}</div>

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h4 class="mini-title">Ported by</h4>
        <div class="read-only">{{parentApp.authorName}}</div>

        <h4 class="mini-title" data-invalid={{validate 'codeLink'}}>Code URL</h4>
        {{#if changedOriginal}}<div class="admin-field">{{verboseNone parentApp.codeLink}}</div>{{/if}}
        {{#if fieldEdit 'codeLink'}}
          <input type="text" data-field="codeLink" value="{{codeLink}}" pattern="https?://.+" />
        {{else}}
          <div data-alt-field="codeLink">{{verboseNone codeLink}}</div>
        {{/if}}

        <h4 class="mini-title" data-invalid={{validate 'license'}}>License</h4>
        {{#if changedOriginal}}<div class="admin-field">{{verboseNone parentApp.license}}</div>{{/if}}
        {{#if fieldEdit 'license'}}
          <input type="text" data-field="license" value="{{license}}" />
        {{else}}
          <div data-alt-field="license">{{verboseNone license}}</div>
        {{/if}}

        <h4 class="mini-title" data-invalid={{validate 'version'}}>Version</h4>
        {{#if fieldEdit 'latestVersion'}}
          <input type="text" data-action="update-version" data-version-field="number" value="{{versions.[0].number}}" />
        {{else}}
          <div data-alt-field="latestVersion" data-action="update-version">{{latestVersionNumber parentApp}}</div>
        {{/if}}

      </div>

      <div class="half-col">

        <h4 class="mini-title" data-invalid={{validate 'webLink'}}>Website</h4>
        {{#if changedOriginal}}<div class="admin-field">{{verboseNone parentApp.webLink}}</div>{{/if}}
        {{#if fieldEdit 'webLink'}}
          <input type="text" data-field="webLink" value="{{webLink}}" />
        {{else}}
          <div data-alt-field="webLink">{{verboseNone webLink}}</div>
        {{/if}}

        {{> connectButton service="github"}}
        {{> connectButton service="google"}}

      </div>

      {{#if newVersion}}
        <h4 class="mini-title left-float">Version Changes</h4>

        <div class="version-changes">
          <textarea placeholder="What's new in this version?" data-action="update-version" data-version-field="changes"></textarea>
        </div>
      {{/if}}

      <h3 class="title" data-invalid={{validate 'categories'}}>Genre</h3>

      {{> genreGrid}}

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h3 class="title" data-invalid={{validate 'image'}}>Icon</h3>

        {{> iconPicker}}

        <div class="identicon-instructions">
          <div>For the best results, we suggest the icon be:</div>
          <div><strong>600px</strong> wide by <strong>600px</strong> high (minimum) in PNG or JPEG format.</div>

          {{#unless equal image parentApp.image}}
            <div class="identicon-container small">
              <div class="identicon" style="background-image: url('{{parentApp.image}}')" data-field="icon-image">#
              </div>
            </div>
          {{/unless}}

        </div>

        {{#unless equal image parentApp.image}}
        <div class="clearfix icon-captions">
          <div class="left">
            NEW ICON
          </div>
          <div class="right">
            CURRENT ICON
          </div>
        </div>
        {{/unless}}

      </div>

      <div class="half-col">

        <h3 class="title">Display in Market?</h3>

        <div class="public-private">
          <div class="sandstorm-button left {{#if public}}active{{/if}}" data-action="toggle-private">
            <i class="fa fa-eye"></i>
            PUBLIC
          </div>
          <div class="sandstorm-button right {{#unless public}}active{{/unless}}" data-action="toggle-private">
            <i class="fa fa-lock"></i>
            PRIVATE
          </div>
        </div>

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <h3 class="title">Screenshots</h3>

      <div class="screenshot-instructions">
        <div>Show your app in action. These images will be displayed in a side-scroll. For the best results, we suggest your screenshots be:</div>
        <div><strong>800px</strong> wide by <strong>450px</strong> high (minimum) in PNG or JPEG format.</div>
      </div>

      {{> screenshotPicker screenshots=screenshots comments='user'}}

      <h3 class="title">Description</h3>

      {{> descriptionEditor initial=description original=parentApp.description}}

    </div>

    <div class="right-float description-caption">
      <p>
        Edits will not be published until approved by an Admin. Don't want to commit your edits? Save Edits and come back to them later.
      </p>
    </div>

    <div></div>

    <div class="right-float clearfix on-top">

      <div class="button-block">
        {{#unless submitted}}
        <div class="sandstorm-button neutral" data-action="submit-app">
          SUBMIT APP FOR REVIEW
        </div>
        {{/unless}}
        <div class="sandstorm-button neutral" data-action="save-app">
          SAVE EDITS
        </div>
        <div class="sandstorm-button neutral" data-action="discard-edits">
          DISCARD EDITS
        </div>
        <i class="icon-garbage" data-action="delete-app"></i>
      </div>

    </div>

  </form>
  {{/with}}

</template>

<template name="appNotesBox">

  <div class="app-notes">

  {{#each sorted notesAndFlags}}

    <div class="note">

      {{#if text}}
        On {{dateFormat dateTime 'YYYY-MM-DD'}}, {{#if authorName}}{{authorName}}{{else}}unknown user{{/if}}
        {{#if admin}} (admin){{/if}} wrote{{#unless byAuthor}} to the author{{/unless}}:<br>
        {{text}}

      {{else}}
      On {{dateFormat dateTime 'YYYY-MM-DD'}}, {{#if authorName}}{{authorName}}{{else}}unknown user{{/if}}
      flagged this app as <strong>{{cat}}</strong>{{#if additional}} with the message: {{additional}}{{else}}.{{/if}}

      {{/if}}

    </div>

  {{/each}}

  </div>

</template>
