<template name="Upload">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">APP UPLOAD</div>

    </div>

  </div>

  {{#with app}}
  <form class="upload-box validation">

    <div class="right-float on-top">

      <div class="button-block">

        {{#if lastEdit}}
          <div class="message">
            <i class="green icon-approved_dark"></i>SAVED AT {{dateFormat lastEdit 'H:mm, DD MMM YYYY'}}
          </div>
        {{/if}}
        {{#if submitted}}
          <div class="message">
            <a href="{{getPath 'appsByMe'}}">SUBMITTED ON <span class="date">{{dateFormat submitted 'DD MMM YYYY'}}</span></a>
          </div>
        {{else}}
          <div class="sandstorm-button neutral" data-action="submit-app">
            SUBMIT APP FOR REVIEW
          </div>
        {{/if}}
        <div class="sandstorm-button neutral" data-action="save-app">
          SAVE DRAFT
        </div>
        <i class="icon-garbage" data-action="delete-app"></i>

      </div>

    </div>

    <div class="section clearfix">

      <h3 class="title" data-invalid={{validate 'spkLink'}}>Application File</h3>

      <div class="half-col">

        {{> fileBox}}

      </div>

      <div class="half-col">

        <h3 class="title" data-invalid={{validate 'name'}}>Title</h3>
        <input type="text" data-field="name" value="{{name}}" required />

        <h3 class="title">Author</h3>
        <div class="read-only">{{authorName}}</div>

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h4 class="mini-title">Ported by</h4>
        <div class="read-only">{{authorName}}</div>

        <h4 class="mini-title" data-invalid={{validate 'codeLink'}}>Code URL</h4>
        <input type="text" data-field="codeLink" value="{{codeLink}}" pattern="https?://.+" />

        <h4 class="mini-title" data-invalid={{validate 'license'}}>License</h4>
        <input type="text" data-field="license" value="{{license}}" />

        <h4 class="mini-title" data-invalid={{validate 'versions'}}>Version</h4>
        <input type="text" data-action="update-version" value="{{versions.[0].number}}" />

      </div>

      <div class="half-col">

        <h4 class="mini-title" data-invalid={{validate 'webLink'}}>Website</h4>
        <input type="text" data-field="webLink" value="{{webLink}}" />

        {{> connectButton service="github"}}
        {{> connectButton service="google"}}

      </div>

      <h3 class="title" data-invalid={{validate 'categories'}}>Genre</h3>

      {{> genreGrid}}

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h3 class="title" data-invalid={{validate 'image'}}>Icon</h3>

        {{> iconPicker}}

        <div class="identicon-instructions">
          <div>For the best results, we suggest the icon be:</div>
          <div><strong>600px</strong> wide by <strong>600px</strong> high (minimum) in PNG or JPEG format.</div>
        </div>

      </div>

      <div class="half-col">

        <h3 class="title">Display in Market?</h3>

        <div class="public-private">
          <div class="sandstorm-button left {{#if public}}active{{/if}}" data-action="toggle-private">
            <i class="fa fa-eye"></i>
            PUBLIC
          </div>
          <div class="sandstorm-button right {{#unless public}}active{{/unless}}" data-action="toggle-private">
            <i class="fa fa-lock"></i>
            PRIVATE
          </div>
        </div>

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <h3 class="title">Screenshots</h3>

      <div class="screenshot-instructions">
        <div>Show your app in action. These images will be displayed in a side-scroll. For the best results, we suggest your screenshots be:</div>
        <div><strong>800px</strong> wide by <strong>450px</strong> high (minimum) in PNG or JPEG format.</div>
      </div>

      {{> screenshotPicker}}

      <h3 class="title">Description</h3>

      <textarea class="description" data-field="description" placeholder="What does your app do?">{{description}}</textarea>

      <div class="spacer"></div>

    </div>

    <div class="right-float on-top">

      <div class="button-block">
        {{#unless submitted}}
        <div class="sandstorm-button neutral" data-action="submit-app">
          SUBMIT APP FOR REVIEW
        </div>
        {{/unless}}
        <div class="sandstorm-button neutral" data-action="save-app">
          SAVE DRAFT
        </div>
        <i class="icon-garbage" data-action="delete-app"></i>
      </div>

    </div>

  </form>
  {{/with}}

</template>

<template name="fileBox">

  <div class="file-box">

    {{#if equal version "update"}}

    <div class="instruction">This is your app package</div>
    <div class="aside"><a href="https://github.com/sandstorm-io/sandstorm/wiki/Porting-Guide" target="_blank">(What's an *.spk?)</a></div>

    <div class="spacer clearfix"></div>

    <div class="filename existing">{{verboseNone origSpk.original.name}}</div>
    <a class="square-button dark rem-space-float" href="{{#with spk}}{{this.url store='spkS3' download=true}}{{/with}}" target="_blank"><i class="fa fa-download"></i></a>

    <div class="spacer clearfix"></div>

    <div class="instruction">New spk?</div>

    <div class="spacer clearfix"></div>

    <input type="text" placeholder="Browse" readonly="true" data-field="filename" class="filename" data-action="choose-file" data-name="spk" value="{{filename}}" />
    <input type="file" class="file-picker" data-action="file-picker" data-for="spk" accept=".spk" />
    <div class="square-button dark rem-space-float" data-action="upload-spk">Upload</div>

    {{else}}

    <div class="instruction">Please upload the *.spk file for your app.</div>
    <div class="aside"><a href="https://github.com/sandstorm-io/sandstorm/wiki/Porting-Guide" target="_blank">(What's an *.spk?)</a></div>

    <div class="spacer clearfix"></div>

    <input type="text" placeholder="Browse" readonly="true" data-field="filename" class="filename" data-action="choose-file" data-name="spk" value="{{filename}}" />
    <input type="file" class="file-picker" data-action="file-picker" data-for="spk" accept=".spk" />
    <div class="square-button dark rem-space-float" data-action="upload-spk">Upload</div>

    {{/if}}

    {{#if progress}}
      <div class="progress-bar"><div class="fill" style="width: {{progress}}%;"></div></div>
    {{/if}}
    {{#if uploaded}}
      <div class="upload-confirm">{{uploaded}} uploaded</div>
    {{/if}}
    {{#if error}}
      <div class="upload-error">
        {{error}}
      </div>
    {{/if}}

  </div>

</template>

<template name="genreGrid">

  <div class="genre-list">
    {{#each categories}}
      {{#if this.editing}}
        <div class="button-wrapper">
          <input class="square-button action input" data-field="new-genre-name" value={{newGenreName}} />
          <div class="square-button icon" data-action="save-genre"><i class="fa fa-plus"></i></div>
        </div>
      {{else}}
        <div class="square-button {{#if selected}}{{#if new}}light{{else}}active{{/if}}{{/if}}" data-action="select-genre">{{upperCase name}}</div>
      {{/if}}
    {{/each}}
    <div class="square-button action" data-action="suggest-genre">SUGGEST A NEW GENRE</div>
  </div>

</template>


<template name="iconPicker">

  <div class="identicon-container">
    <div class="identicon" style="background-image: url('{{imageUrl image}}')" data-field="icon-image">#
      <div class="tint"></div>
      <div class="regenerate" data-action="regenerate-identicon"><i class="icon-rejected_dark"></i></div>
      <div class="upload" data-action="choose-file" data-name="identicon"><i class="icon-myapps"></i></div>
    </div>
  </div>

  <input type="file" class="file-picker" data-action="file-picker" data-for="identicon" accept="image/*" />

</template>

<template name="screenshotPicker">

  {{#each screenshots}}

  <div class="screenshot-outer">
      <div class="screenshot-container">
        <div class="screenshot" style="background-image: url('{{imageUrl this.url}}')" data-action="change-screenshot">
          {{#if this.admin}}<div class="admin-tint"></div>{{/if}}
        </div>
        <div class="remove" data-action="remove-screenshot"><i class="icon-rejected_dark"></i></div>
        {{#if equal ../comments 'admin'}}<div class="comment" data-action="open-comment-box"><i class="fa fa-comment-o"></i></div>{{/if}}
      </div>
      {{#if this.comment}}
        {{#if equal ../comments 'admin'}}
          <textarea class="comment-box" data-field="comment-box" placeholder="Suggest feedback?">{{comment}}</textarea>
        {{/if}}
        {{#if equal ../comments 'user'}}
          <div class="comment-box" data-field="comment-box read-only">{{comment}}</div>
        {{/if}}
      {{/if}}
    </div>

  {{/each}}
  {{#each screenshotPlaceholders}}

  <div class="screenshot-outer">
    <div class="screenshot-container">
      <div class="screenshot placeholder" data-action="choose-file" data-name="screenshot">
        <div class="contents">
          <i class="icon-myapps"></i>
          <div class="instruction">
            Upload a Screenshot
          </div>
        </div>
      </div>
    </div>
  </div>

  {{/each}}

  <input type="file" class="file-picker" data-action="file-picker" data-for="screenshot" accept="image/*" />

</template>

<template name="nukeModal">

  <div class="anti-modal-box nuke-modal clearfix">

    <div class="message">
      {{topMessage}}
    </div>

    <img class="nuke-pic" src="/images/nuke-image.png" />

    <div class="message">
      {{bottomMessage}}
    </div>

    <div class="spacer">
    </div>

    <div class="button-block big-gap">

      <div class="sandstorm-button neutral" data-action="close-modal">
        Cancel
      </div>
      <div class="sandstorm-button neutral" data-action="perform-action">
        {{actionText}}
      </div>

    </div>

  </div>

</template>

<template name="messageModal">

  <div class="anti-modal-box nuke-modal clearfix">

    <h2 class="header">
      {{header}}
    </h2>

    <div class="message">
      {{{message}}}
    </div>

    <div class="spacer">
    </div>

    <div class="button-block big-gap">

      <div class="sandstorm-button neutral" data-action="close-modal">
        Close
      </div>

    </div>

  </div>

</template>
