@import "../../stylesheets/variables";
@import "../../templates/components/menu";

.upload-box {

  @extend .menu-spacer;
  @extend .margin-right;

  padding: 6.6rem;
  margin-top: 3.05rem;
  background-color: #ffffff;

  .section {

    position: relative;
    font-size: 0;

    .half-col {

      width: 50%;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
      padding-right: 2rem;

      > * {

        box-sizing: border-box;

      }

      & + .half-col {
        padding-right: 0;
        padding-left: 2rem;
      }

    }

  }

  .title {

    font-size: 2.55rem;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;

    i {
      color: #a4a3b3;
    }

  }

  .mini-title {

    font-size: 2.1rem;
    font-weight: bold;
    color: #222222;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;

  }

  .divider {

    border-bottom: 1px solid $update-app-divider;
    margin-top: 3rem;
    margin-bottom: 3rem;

  }

  .button-block {

    .sandstorm-button {

      color: #555555;
      border-color: #a4a3b3;

    }

    i {

      color: #a4a3b3;
      cursor: pointer;

    }

  }

  input[type="text"] {

    display: block;
    width: 100%;
    box-shadow: none;
    background: #e7e4ea;
    border: none;
    color: #555555;
    font-size: 1.95rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

  }

  .read-only {

    font-size: 2.1rem;
    color: #555555;

  }

  .file-box {

    background-color: #e5d7ee;
    color: #553f74;
    font-weight: 300;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    font-size: 1.85rem;

    .instruction {

      float: left;

    }

    .aside {

      color: #a965ba;
      float: right;

    }

    .spacer {

      height: 1.9rem;
      clear: both;

    }

    .file-picker {

      display: none;

    }

    .filename {

      float: left;
      width: 70%;
      box-shadow: none;
      background: #ffffff;
      border: none;
      color: #555555;
      font-size: 2.1rem;
      font-weight: 300;
      cursor: pointer;

      &:focus {
        outline: none;
      }

    }

  }

  .genre-list {

    > * {

      margin-right: 1rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-right: 0;
      }

    }

    > .action {
      margin-right: 0;
    }

  }

  .identicon-container {

    position: relative;
    padding: 0.5rem;
    border: 1px solid #e7e4ea;
    float: left;

    .regenerate, .upload {
      position: absolute;
      right: 1.5rem;
      color: #222222; // DIFFERENT FROM REQUESTED ffffff, BUT IDENTICONS ARE LIGHT
      font-size: 3.15rem;
      opacity: 0.7;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .regenerate {
      top: 1.5rem;
    }

    .upload {
      bottom: 1.5rem;
    }

  }

  .identicon-instructions {

    overflow: hidden;
    font-size: 1.35rem;
    line-height: 1.4;
    padding-left: 1.5rem;
    color: #555555;
    min-width: 15rem;

    > * {
      margin-bottom: 2rem;
    }

  }

}
