<template name="Upload">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">APP UPLOAD</div>

    </div>

  </div>

  {{#with app}}
  <form class="upload-box">

    <div class="right-float on-top">

      <div class="button-block">
        <div class="sandstorm-button neutral" data-action="submit-app">
          SUBMIT APP FOR REVIEW
        </div>
        <div class="sandstorm-button neutral" data-action="save-app">
          SAVE DRAFT
        </div>
        <i class="icon-garbage" data-action="delete-app"></i>
      </div>

    </div>

    <div class="section clearfix">

      <h3 class="title">Application File</h3>

      <div class="half-col">

        {{> fileBox}}

      </div>

      <div class="half-col">

        <h3 class="title">Title</h3>
        <input type="text" data-field="name" value="{{name}}" required />

        <h3 class="title">Author</h3>
        <div class="read-only">{{getUsername author}}</div>

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h4 class="mini-title">Ported by</h4>
        <div class="read-only">{{getUsername author}}</div>

        <h4 class="mini-title">Code URL</h4>
        <input type="text" data-field="codeLink" value="{{codeLink}}" pattern="https?://.+" />

        <h4 class="mini-title">License</h4>
        <input type="text" data-field="license" value="{{license}}" />

        <h4 class="mini-title">Version</h4>
        <input type="text" data-action="update-version" value="{{latestVersion}}" />

      </div>

      <div class="half-col">

        <h4 class="mini-title">Website</h4>
        <input type="text" data-field="webLink" value="{{webLink}}" />

        {{> connectButton service="github"}}
        {{> connectButton service="google"}}

      </div>

      <h3 class="title">Genre</h3>

      {{> genreGrid}}

    </div>

    <div class="divider"></div>

    <div class="section">

      <div class="half-col">

        <h3 class="title">Icon</h3>

        {{> iconPicker}}

        <div class="identicon-instructions">
          <div>For the best results, we suggest the icon be:</div>
          <div><strong>600px</strong> wide by <strong>600px</strong> high (minimum) in PNG or JPEG format.</div>
        </div>

      </div>

      <div class="half-col">

        <h3 class="title">Display in Market?</h3>

        <div class="public-private">
          <div class="sandstorm-button left {{#if public}}active{{/if}}" data-action="toggle-private">
            <i class="fa fa-eye"></i>
            PUBLIC
          </div>
          <div class="sandstorm-button right {{#unless public}}active{{/unless}}" data-action="toggle-private">
            <i class="fa fa-lock"></i>
            PRIVATE
          </div>
        </div>

        <!-- <h3 class="title">Suggested Donation
          <span class="simptip-position-bottom simptip-smooth simptip-fade" data-tooltip="Opt out of app market contributions"><i class="fa fa-caret-down" data-action="make-free" ></i></span>
        </h3>

        <div class="donation-box">
          <i class="fa fa-dollar"></i>
          <input type="number" data-field="price" min="0" step="0.01" value="{{price}}" />
        </div>

        <div class="donation-instructions">
          Users&nbsp;can&nbsp;chip&nbsp;in&nbsp;any&nbsp;amount,
          but&nbsp;authors&nbsp;set&nbsp;the&nbsp;default&nbsp;position&nbsp;of&nbsp;the&nbsp;slider.
        </div> -->

      </div>

    </div>

    <div class="divider"></div>

    <div class="section">

      <h3 class="title">Screenshots</h3>

      <div class="screenshot-instructions">
        <div>Show your app in action. These images will be displayed in a side-scroll. For the best results, we suggest your screenshots be:</div>
        <div><strong>800px</strong> wide by <strong>450px</strong> high (minimum) in PNG or JPEG format.</div>
      </div>

      {{> screenshotPicker}}

      <h3 class="title">Description</h3>

      <textarea class="description" data-field="description" placeholder="What does your app do?">{{description}}</textarea>

      <div class="spacer"></div>

    </div>

    <div class="right-float on-top">

      <div class="button-block">
        <div class="sandstorm-button neutral" data-action="submit-app">
          SUBMIT APP FOR REVIEW
        </div>
        <div class="sandstorm-button neutral" data-action="save-app">
          SAVE DRAFT
        </div>
        <i class="icon-garbage" data-action="delete-app"></i>
      </div>

    </div>

  </form>
  {{/with}}

</template>

<template name="fileBox">

  <div class="file-box">

    {{#if equal version "update"}}

    <div class="instruction">This is your app package</div>
    <div class="aside"><a href="https://github.com/sandstorm-io/sandstorm/wiki/Porting-Guide" target="_blank">(What's an *.spk?)</a></div>

    <div class="spacer clearfix"></div>

    <input type="text" placeholder="Browse" readonly="true" data-field="filename" class="filename existing" data-action="choose-file" data-name="spk" value="{{stripFilename ../spkLink}}" />
    <a class="square-button dark rem-space-float" href="{{spkLink}}"><i class="fa fa-download"></i></a>

    <div class="spacer clearfix"></div>

    <div class="instruction">New spk?</div>

    <div class="spacer clearfix"></div>

    <input type="text" placeholder="Browse" readonly="true" data-field="filename" class="filename" data-action="choose-file" data-name="spk" value="{{filename}}" />
    <input type="file" class="file-picker" data-action="file-picker" data-for="spk" accept=".spk" />
    <div class="square-button dark rem-space-float" data-action="upload-spk">Upload</div>

    {{else}}

    <div class="instruction">Please upload the *.spk file for your app.</div>
    <div class="aside"><a href="https://github.com/sandstorm-io/sandstorm/wiki/Porting-Guide" target="_blank">(What's an *.spk?)</a></div>

    <div class="spacer clearfix"></div>

    <input type="text" placeholder="Browse" readonly="true" data-field="filename" class="filename" data-action="choose-file" data-name="spk" value="{{filename}}" />
    <input type="file" class="file-picker" data-action="file-picker" data-for="spk" accept=".spk" />
    <div class="square-button dark rem-space-float" data-action="upload-spk">Upload</div>

    {{/if}}

    {{#if equal uploaderStatus 'transferring'}}
      <div class="progress-bar"><div class="fill" style="width: {{progress}}%;"></div></div>
    {{/if}}
    {{#if uploaded}}
      <div class="upload-confirm">{{uploaded}} uploaded</div>
    {{/if}}

  </div>

</template>

<template name="genreGrid">

  <div class="genre-list">
    {{#each categories}}
      {{#if this.editing}}
        <div class="button-wrapper">
          <input class="square-button action input" data-field="new-genre-name" value={{newGenreName}} />
          <div class="square-button icon" data-action="save-genre"><i class="fa fa-plus"></i></div>
        </div>
      {{else}}
        <div class="square-button {{#if selected}}{{#if new}}light{{else}}active{{/if}}{{/if}}" data-action="select-genre">{{upperCase name}}</div>
      {{/if}}
    {{/each}}
    <div class="square-button action" data-action="suggest-genre">SUGGEST A NEW GENRE</div>
  </div>

</template>


<template name="iconPicker">

  <div class="identicon-container">
    <div class="identicon" style="background-image: url('{{imageUrl image}}')" data-field="icon-image">#
      <div class="tint"></div>
      <div class="regenerate" data-action="regenerate-identicon"><i class="icon-rejected_dark"></i></div>
      <div class="upload" data-action="choose-file" data-name="identicon"><i class="icon-myapps"></i></div>
    </div>
  </div>

  <input type="file" class="file-picker" data-action="file-picker" data-for="identicon" accept="image/*" />

</template>

<template name="screenshotPicker">

  {{#each screenshots}}

  <div class="screenshot-outer">
      <div class="screenshot-container">
        <div class="screenshot" style="background-image: url('{{imageUrl this.url}}')" data-action="change-screenshot"></div>
        <div class="remove" data-action="remove-screenshot"><i class="icon-rejected_dark"></i></div>
        {{#if ../comments}}<div class="comment" data-action="open-comment-box"><i class="fa fa-comment-o"></i></div>{{/if}}
      </div>
      {{#if this.comment}}
        {{#if equal ../comments 'admin'}}
          <textarea class="comment-box" data-field="comment-box" placeholder="Suggest feedback?">{{comment}}</textarea>
        {{/if}}
        {{#if equal ../comments 'user'}}
          <div class="comment-box" data-field="comment-box read-only">{{comment}}</div>
        {{/if}}
      {{/if}}
    </div>

  {{/each}}
  {{#each screenshotPlaceholders}}

  <div class="screenshot-outer">
    <div class="screenshot-container">
      <div class="screenshot placeholder" data-action="choose-file" data-name="screenshot">
        <div class="contents">
          <i class="icon-myapps"></i>
          <div class="instruction">
            Upload a Screenshot
          </div>
        </div>
      </div>
    </div>
  </div>

  {{/each}}

  <input type="file" class="file-picker" data-action="file-picker" data-for="screenshot" accept="image/*" />

</template>
