@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import "variables";

@font-face {
  font-family: "sandstorm";
  src: url("icons/sandstorm/sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.eot");
  src: url("icons/sandstorm/sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.eot?#iefix") format("embedded-opentype"),
       url("icons/sandstorm/sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.woff") format("woff"),
       url("icons/sandstorm/sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.ttf") format("truetype"),
       url("icons/sandstorm/sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.svg#sandstorm") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "sandstorm";
    src: url("icons/sandstorm/sandstorm_0ef63938a840a28a9d5d43ef7110dbfc.svg#sandstorm") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-admin:before,
.icon-approve:before,
.icon-approved_dark:before,
.icon-approved_light:before,
.icon-apps:before,
.icon-arrow-install:before,
.icon-edit:before,
.icon-fb:before,
.icon-flagged_dark:before,
.icon-flagged_light:before,
.icon-garbage:before,
.icon-gh:before,
.icon-go:before,
.icon-logo:before,
.icon-logo-image:before,
.icon-market:before,
.icon-my:before,
.icon-myapps:before,
.icon-porting-guide:before,
.icon-private:before,
.icon-reject:before,
.icon-rejected_dark:before,
.icon-rejected_light:before,
.icon-revisions:before,
.icon-search:before,
.icon-speechbox:before,
.icon-star:before,
.icon-tw:before,
.icon-updated:before,
.icon-upload:before,
.icon-chevron-right:before {
  display: inline-block;
  font-family: "sandstorm";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-admin:before { content: "\f100"; }
.icon-approve:before { content: "\f101"; }
.icon-approved_dark:before { content: "\f102"; }
.icon-approved_light:before { content: "\f103"; }
.icon-apps:before { content: "\f104"; }
.icon-arrow-install:before { content: "\f105";   position: relative; top: -0.3em; }
.icon-chevron-right:before { content: "\003e"; font-family: $main-font; }
.icon-edit:before { content: "\f106"; }
.icon-fb:before { content: "\f107"; }
.icon-flagged_dark:before { content: "\f108"; }
.icon-flagged_light:before { content: "\f109"; }
.icon-garbage:before { content: "\f10a"; }
.icon-gh:before { content: "\f10b"; }
.icon-go:before { content: "\f10c"; }
.icon-logo:before { content: "\f10d"; position: relative; bottom: -0.3em; left: -0.25em; width: 18rem; }
.icon-logo-image:before { content: "\f10e"; }
.icon-market:before { content: "\f10f"; }
.icon-my:before { content: "\f110"; }
.icon-myapps:before { content: "\f111"; }
.icon-porting-guide:before { content: "\f112"; }
.icon-private:before { content: "\f113"; }
.icon-reject:before { content: "\f114"; }
.icon-rejected_dark:before { content: "\f115"; }
.icon-rejected_light:before { content: "\f116"; }
.icon-revisions:before { content: "\f117"; }
.icon-search:before { content: "\f118"; }
.icon-speechbox:before { content: "\f119"; }
.icon-star:before { content: "\f11a"; }
.icon-tw:before { content: "\f11b"; }
.icon-updated:before { content: "\f11c"; }
.icon-upload:before { content: "\f11d"; }

@font-face {
	font-family: 'sandstorm-two';
	src:url('icons/sandstorm/sandstorm-two.eot?k1lw2r');
	src:url('icons/sandstorm/sandstorm-two.eot?#iefixk1lw2r') format('embedded-opentype'),
		url('icons/sandstorm/sandstorm-two.ttf?k1lw2r') format('truetype'),
		url('icons/sandstorm/sandstorm-two.woff?k1lw2r') format('woff'),
		url('icons/sandstorm/sandstorm-two.svg?k1lw2r#sandstorm-two') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-extra-"], [class*=" icon-extra-"] {
	font-family: 'sandstorm-two';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-extra-myapps_dark:before {
	content: "\e604";
}
.icon-extra-l-angle:before {
	content: "\e600";
}
.icon-extra-r-angle:before {
	content: "\e601";
}
.icon-extra-thumbs-down:before {
	content: "\e602";
}
.icon-extra-thumbs-up:before {
	content: "\e603";
}

html {
  font-family: $main-font;
  font-weight: 300;
  font-size: 12px;
  font-size: 0.65vw;

  @media (max-width: $small-screen) {

    font-size: 8.32px;

  }

  @media (min-width: $xlarge-screen) {

    font-size: 10.4px;

  }

  body {
    margin: 0;
    user-select: initial;
  }

  a {
    text-decoration: none;
    color: #783189;
  }
}

.main {
}

// UTILITY

.flex {
  display: flex;
}

.left-float {
  float: left;
  clear: none;

  &.block-phone {
    @media (max-width: $medium-tablet) {
      float: none;
    }
  }
}

.right-float {
  float: right;
  clear: none;

  & +.right-float {
    margin-right: 2rem;
  }

  &.block-phone {
    @media (max-width: $medium-tablet) {
      float: none;
    }
  }
}

.rem-space-float {
  overflow: hidden;
  display: block !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.on-top {
  position: relative;
  z-index: 2;
}

.on-top-top {
  z-index: 3;
}

.clearfix {

  clear: both;

  &:after {
    content:  "";
    display:  table;
    clear:  both;
  }

}

.inline-block {

  display: inline-block;

}

@mixin tooltip($background-color, $text-color, $border-color) {

  z-index: 1001;
  pointer-events: none;
  transition: opacity .1s ease-out;
  opacity: 0;
  transition: opacity 0.5s;
  background: $background-color;
  padding: 1rem;
  font-size: 1.3rem;
  font-family: $main-font;
  box-sizing: border-box;
  position: relative;
  border: 0.1rem solid $border-color;
  color: $text-color;

  .arrow {
  	background: $background-color;
  }
  .arrow:after, .arrow:before {
  	top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  }

  .arrow:after {
    border-color: rgba(0,0,0,0);
  	border-top-color: $background-color;
  	border-width: 1rem;
  	margin-left: -1rem;
  }
  .arrow:before {
  	border-color: rgba(0,0,0,0);
  	border-top-color: $border-color;
  	border-width: 1.1rem;
  	margin-left: -1.1rem;
  }

  &.tooltip--bottom {
    .arrow:after, .arrow:before {
      bottom: 100%;
      top: initial;
    }
    .arrow:after {
      border-color: rgba(0,0,0,0);
      border-bottom-color: $background-color;
    }
    .arrow:before {
      border-color: rgba(0,0,0,0);
      border-bottom-color: $border-color;
    }
  }

  &.hide {
    opacity: 0;
  }

  &.show {
    opacity: 1;
  }
}


.tooltip {
  @include tooltip(#e7e4ea, #444444, #a694b2);

  &.invalid {
    @include tooltip(#ffffff, #800000, #800000);
  }
}
