// BREAKPOINTS

$small-phone: 320px;
$medium-phone: 360px;
$large-phone: 480px;
$small-tablet: 720px;
$medium-tablet: 768px;
$large-tablet: 1024px;
$small-screen: 1280px;
$medium-screen: 1366px;
$large-screen: 1440px;
$xlarge-screen: 1600px;
$xxlarge-screen: 1920px;

// FONTS
// $main-font: sans-serif;
$main-font: "Source Sans Pro", sans-serif;

// COLORS
$menu-active-text: #ffffff;
$menu-active-bg: #a460ba;
$menu-active-icon-col: #bb8acc;
$menu-text: #783189;
$menu-bg: #ffffff;
$menu-icon-col: #ddc9e8;
$menu-divider-col: #e7daea;

$topbar-bg-1: #723086;
$topbar-bg-2: #552976;
$topbar-bg-3: #603281;
$topbar-bg-4: #4e2e77;
$topbar-bg: #612c7d; // FALLBACK
$topbar-bg: linear-gradient(165deg, $topbar-bg-1 0%,$topbar-bg-2 60%,$topbar-bg-3 60.1%,$topbar-bg-4 100%);
$topbar-logo-text: #ffffff;
$topbar-item-text: #ffffff;
$topbar-item-bg: #78429d;
$topbar-item-active-bg: #8c47b1;

$genre-title-text: #783189;
$genre-title-chevron: #aa79c6;

$app-box-bg: #ffffff;
$app-box-drp-shdw: #a694b2;
$app-name-text: #222222;
$app-author-text: #783189;
$app-install-text: #783189;
$app-installed-text: #b491bc;
$app-description-text: #222222;
$app-install-bg: #eee4f4;
$app-install-icon-col: #c9add0;
$star-col-dark: #783189;
$star-col-light: #c9add0; // THIS IS CLEARLY WRONG (GIVEN AS #783189)
$app-price-col: #ea7e23;
$app-price-free-col: #44c963;
$free-text: #344c96; // THIS IS ALSO WRONG (GIVEN AS #344c963)
$installed-bar-text: #935aa1;
$installed-bar-icon: #c9add0;
$installed-bar-bg: #f1eaf3;

$main-page-bg: #e7e4ea;

$welcome-message-bg: #a58faa;
$welcome-message-text: #783189;

$genre-popular-bg: #dad3dd; // this is not the supplied color of a58faa, but it matches the screen grab

$modal-bg: #e7e4ea;
$modal-text: #783189;
$modal-button-bg: #78429d;
$modal-button-active-bg: #8c47b1;
$modal-button-text: #ffffff;

$installed-apps-header-text: #222222;
$update-selector-text: #783189;
$update-selector-button-text: #222222;
$update-selector-button-bg: #c3b9c6;
$update-selector-button-icon: #a4a4a4;
$update-selector-button-active-text: #783189;
$update-selector-button-active-bg: #f3e6ff;
$update-selector-button-active-border: #783189;
$update-selector-button-active-icon: #c9add0;

$rate-it-text: #ad83b7;
$rate-it-hover-text: #783189;

$uninstall-app-modal-bg: #f1eaf3;
$uninstall-app-modal-text: #a965ba;
$uninstall-app-modal-divider: #d4c3d8;
$uninstall-app-modal-button-bg: #a965ba;
$uninstall-app-modal-button-hover-bg: #b971cb;
$uninstall-app-modal-button-text: #f1eaf3;

$update-app-bg: #a965ad;
$update-app-text: #ffffff;
$update-app-caret: #c9add0;
$update-app-open-bg: #e4dfe5;
$update-app-open-text: #783189;
$update-app-open-caret: #a965ba;
$update-app-divider: #ccb8d1;

$speechbox-text: #783189;
$purpose-text: #413d42;

$large-button-bg: #f3e6ff;
$large-button-text: #783189;
$large-button-icon: #aa79c6;
$large-button-border: #bb80ce;
$large-button-primary-bg: #783189;
$large-button-primary-text: #ffffff;
$large-button-primary-icon: #a965ba;
$large-button-primary-border: #783189;

$login-form-font-size: 2rem;
$login-form-text: $topbar-item-bg;
$login-form-active-text: $topbar-item-active-bg;

// SIZING
$button-border-radius: 0.5rem;

$topbar-height: 8.5rem;
$topbar-logo-icon-size: 6.044rem;
$topbar-logo-margin-left: 2.5rem;
$topbar-padding-bottom: 1.667rem;
$topbar-item-font-size: 1.167rem;
$topbar-item-padding-lr: 1.833rem;
$topbar-item-padding-tb: 0.833rem;
$topbar-item-margin-right: 0.417rem;

$menu-width: 26.667rem;
$menu-item-padding-left: 2.5rem;
$menu-font-size: 2.167rem;
$menu-icon-size: 3.333rem;
$menu-item-padding-tb: 2.333rem;
$menu-box-shadow: 0.25rem 0.25rem $app-box-drp-shdw;

$app-section-width: 104.167rem;
$app-section-padding-left: 8rem;
$app-section-padding-right: 11.3rem;
$app-genre-margin-top: 5.417rem;
$app-genre-margin-bottom: 1.333rem;
$app-container-width: 21.3rem;
$app-container-width-large: $app-container-width * 3;
$app-container-height: 29.4rem;
$app-container-min-width: 120px;
$app-container-max-width: 200px;
$app-container-margin-lr: 1.167rem;
$app-container-padding-lr: 1.667rem;
$app-container-padding-top: 2.48rem;
$app-container-padding-bottom: 1.25rem;
$app-container-box-shadow-size: 0.083rem;
$app-container-box-shadow: $app-container-box-shadow-size ($app-container-box-shadow-size * 2) $app-box-drp-shdw;
$app-container-margin-tb: 2.416rem;
$app-genre-font-size: 2rem;
$app-image-height: 13.25rem;
$app-image-large-width: 29.15rem;
$app-image-large-max-height: 25rem;
$app-image-large-margin-right: 2.5rem;
$app-name-font-size: 1.667rem;
$app-name-large-font-size: 2.9rem;
$app-name-line-height: 4.15rem;
$app-author-font-size: 1.167rem;
$app-author-large-font-size: 1.667rem;
$app-author-line-height: 2.5rem;
$app-description-large-font-size: 1.333rem;
$star-font-size: 1.167rem;
$star-line-height: 2.5rem;
$app-install-font-size: 1.083rem;
$app-install-padding-tb: 0.25rem;
$app-install-padding-lr: 1.167rem;
$app-price-font-size: 1.083rem;
$app-install-price-line-height: 2.5rem;
$app-description-large-height: 4.5rem;
$installed-bar-height: 3.75rem;
$installed-bar-font-size: 1.15rem;
$installed-bar-icon-size: 1.55rem;
$installed-bar-padding-left: 1.9rem;
$installed-bar-padding-right: 1.3rem;

$button-block-margin: 0.5rem;

$welcome-message-height: 16.333rem;
$welcome-message-font-size: 2rem;

$genre-page-title-height: 3.333rem;
$genre-page-popular-height: 2.5rem;
$genre-page-popular-margin-top: 2.5rem;
$genre-page-popular-margin-bottom: 2rem;

$modal-font-size: 1.92rem;
$modal-button-padding-lr: 1.833rem;
$modal-button-padding-tb: 0.833rem;
$modal-line-margin-bottom: 0.42rem;

$update-selector-text-font-size: 2.5rem;
$update-selector-button-font-size: 1.54rem;
$update-selector-button-padding-tb: 0.67rem;
$update-selector-button-padding-lr: 1.73rem;

$uninstall-app-modal-width: 35.2rem;
$uninstall-app-modal-padding-lr: 2rem;
$uninstall-app-modal-padding-tb: 2rem;
$uninstall-app-modal-header-font-size: 2rem;
$uninstall-app-modal-blurb-font-size: 1.75rem;
$uninstall-app-modal-button-font-size: 1.75rem;
$uninstall-app-modal-button-padding-lr: 3rem;
$uninstall-app-modal-button-padding-tb: 0.5rem;
$uninstall-app-modal-button-spacing: 0.7rem;
$uninstall-app-modal-blurb-p-margin-top: 1.5rem;
$uninstall-app-modal-blurb-p-margin-bottom: 2.1rem;
$uninstall-app-modal-header-margin-bottom: 1rem;

$update-app-height: $app-container-padding-top;
$update-app-font-size: 0.95rem;
$update-app-caret-size: 1.65rem;
$update-app-section-margin-tb: 0.77rem;
$update-app-padding-lr: 1.4rem;
$update-app-update-button-width: 7.1rem;
$update-app-update-button-height: 1.32rem;

$speechbox-padding-tb: 3.07rem;
$speechbox-padding-left: 6.14rem;
$speechbox-padding-right: 3.72rem;
$speechbox-font-size: 2.55rem;
$speechbox-margin-top: 2.4rem;
$purpose-font-size: 2.8rem;
$purpose-margin-bottom: 5.43rem;
$or-gap: 13.3rem;

$large-button-font-size: 2.39rem;
$large-button-padding-tb: 2.25rem;
$large-button-padding-lr: 2.95rem;
