// BREAKPOINTS

$small-phone: 320px;
$medium-phone: 360px;
$large-phone: 480px;
$small-tablet-phone: 720px;
$medium-tablet: 768px;
$large-tablet: 1024px;
$small-screen: 1280px;
$medium-screen: 1366px;
$large-screen: 1440px;
$xlarge-screen: 1600px;
$xxlarge-screen: 1920px;

// COLORS
$menu-active-text: #ffffff;
$menu-active-bg: #a460ba;
$menu-active-icon-col: #bb8acc;
$menu-text: #783189;
$menu-bg: #ffffff;
$menu-icon-col: #ddc9e8;
$menu-divider-col: #e7daea;

$topbar-bg: #612c7d; // THIS IS TEMPORARY
$topbar-logo-text: #ffffff;
$topbar-item-text: #ffffff;
$topbar-item-bg: #78429d;
$topbar-item-active-bg: #8c47b1;

$genre-title-text: #783189;
$genre-title-chevron: #aa79c6;

$app-box-bg: #ffffff;
$app-box-drp-shdw: #a694b2;
$app-name-text: #222222;
$app-author-text: #783189;
$app-install-text: #783189;
$app-description-text: #222222;
$app-install-bg: #eee4f4;
$app-install-icon-col: #c9add0;
$star-col-dark: #783189;
$star-col-light: #c9add0; // THIS IS CLEARLY WRONG (GIVEN AS #783189)
$app-price-col: #783189;
$app-price-free-col: #44c963;
$free-text: #344c96; // THIS IS ALSO WRONG (GIVEN AS #344c963)

$main-page-bg: #e7e4ea;

$welcome-message-bg: #a58faa;
$welcome-message-text: #783189;

$genre-popular-bg: #dad3dd; // this is not the supplied color of a58faa, but it matches the screen grab

// SPACING
$topbar-height: 8.5rem;
$topbar-logo-font-size: 2.167rem;
$topbar-logo-icon-size: 4.583rem;
$topbar-logo-margin-left: 2.5rem;
$topbar-padding-bottom: 1.667rem;
$topbar-item-font-size: 1.167rem;
$topbar-item-padding-lr: 1.833rem;
$topbar-item-padding-tb: 0.833rem;
$topbar-item-margin-right: 0.417rem;

$menu-width: 26.667rem;
$menu-item-padding-left: 2.5rem;
$menu-font-size: 2.167rem;
$menu-icon-size: 3.333rem;
$menu-item-padding-tb: 2.333rem;
$menu-box-shadow: 0.25rem 0.25rem $app-box-drp-shdw;

$app-section-width: 104.167rem;
$app-section-padding-left: 8rem;
$app-genre-margin-top: 5.417rem;
$app-genre-margin-bottom: 1.333rem;
$app-container-width: 20%;
$app-container-width-small-screen: 25%;
$app-container-width-large-tablet: 33%;
$app-container-width-medium-tablet: 50%;
$app-container-width-large-phone: 100%;
$app-container-width-large: 60%;
$app-container-min-width: 120px;
$app-container-max-width: 200px;
$app-container-margin-lr: 1.167rem;
$app-container-padding-lr: 1.667rem;
$app-container-padding-tb: 1.25rem;
$app-container-box-shadow: 0.083rem 0.166rem $app-box-drp-shdw;
$app-container-margin-tb: 2.416rem;
$app-genre-font-size: 2rem;
$app-image-large-width: 40.5%;
$app-image-large-max-height: 25rem;
$app-image-large-margin-right: 2.5rem;
$app-name-font-size: 1.667rem;
$app-name-large-font-size: 2.9rem;
$app-name-line-height: 2.667rem;
$app-author-font-size: 1.167rem;
$app-author-large-font-size: 1.667rem;
$app-author-line-height: 2rem;
$app-description-large-font-size: 1.333rem;
$star-font-size: 1.167rem;
$star-line-height: 2rem;
$app-installprice-margin-top: 0.667rem;
$app-install-font-size: 1.083rem;
$app-install-padding-tb: 0.25rem;
$app-install-padding-lr: 1.167rem;
$app-price-font-size: 1.083rem;

$welcome-message-height: 16.333rem;
$welcome-message-font-size: 2rem;

$genre-page-title-height: 3.333rem;
$genre-page-popular-height: 2.5rem;
$genre-page-popular-margin-top: 2.5rem;
$genre-page-popular-margin-bottom: 2rem;
