<template name="Genre">

  <div class="genre-title-section">

    <div class="contents">

      <div class="genre-name large">{{genre}}{{#if authorId}} - {{authorNameId}}{{/if}}</div>

    </div>

  </div>

  {{#if routerSubsReady}}

  <div class="genre-popular-section">

    <div class="contents">

        {{> genreTablePopular genre=genre}}

    </div>

  </div>

  <div class="genre-other-section">

    <div class="contents">

        {{> genreTableOther genre=genre}}

    </div>

  </div>

  {{/if}}

</template>


<template name="genreTable">

  {{#if routerSubsReady}}
  {{#if countApps genre}}

    <div class="genre-name"><a href="{{getZippedPath 'appMarketGenre' 'genre' genre}}">{{genre}} <i class="icon-chevron-right"></i></a></div>

    {{> appTable genre=genre reactive=true}}

  {{/if}}
  {{/if}}

</template>


<template name="genreTablePopular">

  {{#if routerSubsReady}}
  {{#if countApps genre}}

  <div class="genre-popular">

    <div class="contents">

      <div class="title">POPULAR</div>

      {{> appTable bigLeader=true singleLine=true genre=genre}}

    </div>

  </div>

  {{/if}}
  {{/if}}

</template>


<template name="genreTableOther">

  {{#if routerSubsReady}}
  {{#if countApps genre}}

  <div class="genre-other">

    {{> appTable skipLines=1 afterBigLeader=true genre=genre}}

  </div>

  {{/if}}
  {{/if}}

</template>
