@import "../../stylesheets/variables";
@import "../../templates/components/menu";

.genre-popular-section {

  background-color: $genre-popular-bg;

  > .contents {

    @extend .menu-spacer;
    @extend .pad-right;

    .title {

      color: $genre-title-text;
      text-transform: uppercase;
      font-size: $genre-page-popular-height;
      font-weight: lighter;
      padding-top: $genre-page-popular-margin-top;
      padding-bottom: $genre-page-popular-margin-bottom;

    }

  }

  .background {

    background-color: $genre-popular-bg;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

  }

}

.genre-other-section {

  .contents {

    @extend .menu-spacer;
    @extend .pad-right;

  }

}
