@import "../../stylesheets/variables";
@import "../../templates/components/menu";

.genre-title-section {

  @extend .menu-spacer;

}

.genre-popular-section {

  background-color: $genre-popular-bg;

  > .contents {

    @extend .menu-spacer;
    @extend .pad-right;

    .title {

      display: inline-block;
      color: $genre-title-text;
      text-transform: uppercase;
      font-size: $genre-page-popular-height;
      font-weight: lighterer;
      padding-top: $genre-page-popular-margin-top;
      padding-bottom: $genre-page-popular-margin-bottom;
      white-space: nowrap;
      vertical-align: middle;

    }

  }

  .background {

    background-color: $genre-popular-bg;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

  }

  .button-container {

    margin-left: 7%;
    vertical-align: middle;
    display: inline-block;

  }

}

.genre-other-section {

  .contents {

    @extend .menu-spacer;
    @extend .pad-right;

  }

}
