<template name="Login">

  <div class="genre-popular-section">

    <div class="contents">

      <form class="login-form">

        <div class="header">
          Login
        </div>

        {{#if currentUser}}

          <div class="user-info">
            Logged in as <span class="username">{{currentUser.profile.name}}</span>
          </div>

          <div class="button-block">

            <div class="sandstorm-button active" data-action="logout">
              <span class="text">Logout</span>
            </div>

          </div>

        {{else}}

          <div class="login oauth">

            <div class="button-block oauth-buttons">

              <div class="sandstorm-button active" data-action="login-with-github">
                <i class="icon-gh"></i>
                <span class="text">Login with <span class="provider">GitHub</span></span>
              </div>

              <div class="sandstorm-button active" data-action="login-with-google">
                <i class="icon-go"></i>
                <span class="text">Login with <span class="provider">Google</span></span>
              </div>
            </div>

          </div>

          {{#if error}}
            <div class="error">
              {{error}}
            </div>
          {{/if}}

        {{/if}}

      </form>

    </div>

  </div>

</template>
