<template name="AppsByMe">

  <div class="genre-title-section">

    <div class="contents">

      <div class="apps-title large">APPS BY ME</div>

    </div>

  </div>

  {{#if routerSubsReady}}
  {{#if appsCount 'Apps By Me'}}

    {{> appsByMe_standard}}

  {{else}}

    {{> appsByMe_noApps}}

  {{/if}}
  {{/if}}

</template>

<template name="appsByMe_noApps">

  <div class="apps-by-me-no-apps">

    <div class="top-section">

      <img class="sandstorm-cat" src="/images/newapp_cat.svg" />

      <div class="bubble-container">

        <div class="speech-bubble">
          Hmm,<br>
          it looks like you haven't uploaded any apps yet.
        </div>

      </div>

      <div class="purpose">
        Give this page a purpose:
      </div>

    </div>

    <div class="action-buttons">

      <div class="container">
        <a class="primary large-button" href="/upload">
          <i class="icon-myapps"></i>
          UPLOAD YOUR FIRST APP
        </a>
      </div>
      <div class="container">
        <div class="or">
          OR
        </div>
      </div>
      <div class="container">
        <a class="large-button" href="https://github.com/sandstorm-io/sandstorm/wiki/Porting-Guide" target="_blank">
          <i class="icon-porting-guide"></i>
          READ THE APP PORTING GUIDE
        </a>
      </div>

    </div>
  </div>

</template>

<template name="appsByMe_standard">

  <div class="apps-by-me-standard">

    <div class="apps-by-me-bar">

      <div class="left-float">

        <div class="button-block">
          <a class="sandstorm-button primary" href="/upload">
            <i class="icon-myapps"></i>
            UPLOAD NEW APP
          </a>
          <a class="sandstorm-button secondary" href="https://github.com/sandstorm-io/sandstorm/wiki/Porting-Guide" target="_blank">
            <i class="icon-porting-guide"></i>
            APP PORTING GUIDE
          </a>
        </div>

      </div>
      <div class="right-float">

        <div class="button-block">
          <div class="sandstorm-button neutral" data-action="open-sort-menu">
            SORT
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="sandstorm-input">
            <div class="input">
              <input type="text" data-field="search-by" />
            </div>
            <div class="button">
              <i class="icon-search" data-action="apply-search"></i>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="apps-by-me-container">

    {{> appTableLarge genre='Apps By Me' reactive=true sortDesc='approved' searchTerm=searchTerm}}

    </div>

  </div>

</template>
