<template name="SingleApp">

  <div class="apps-by-me-standard">

    {{#if getReactive 'ready'}}

      <div class="app-table-large">

        {{#with app}}

        <div class="single-app-container">

          <div class="app-item-inner">

            <div class="image-section">

              <div class="image-surround-full-width">

                <div class="image" style="background-image: url('{{imageUrl imageId}}');"></div>

              </div>

            </div>

            <div class="text-section">

              <div class="top-section">

                <div class="header app-title">{{name}}</div>

                <div class="app-contact-info">
                  {{#if webLink}}
                  <a href="{{webLink}}"><div class="button">
                      <i class="fa fa-globe"></i> Website
                  </div></a>
                  {{/if}}
                  {{#if codeLink}}
                  <a href="{{codeLink}}"><div class="button">
                      <i class="fa fa-code"></i> Source
                  </div></a>
                  {{/if}}
                  {{#if packageLink}}
                  <a href="{{packageLink}}" download="{{name}}.spk"><div class="button">
                      <i class="fa fa-download"></i> Download spk
                  </div></a>
                  {{/if}}
                  {{#if bugReportLink}}
                  <a href="{{bugReportLink}}"><div class="button">
                      <i class="fa fa-bug"></i> Report issue
                  </div></a>
                  {{/if}}
                </div>

              </div>

              <div class="bottom-section clearfix">

                <div class="half-col">

                  <div class="date">Last update: {{dateFormat createdAt 'MMMM DD, YYYY'}}</div>
                  <div class="genre">
                    {{#each indexedList categories}}{{#if index}}, {{/if}}
                      <a href="{{genreUrl value}}">{{value}}</a>{{/each}}
                  </div>

                </div>

                <div class="half-col right">
                  <table>
                    <tr><td class="key">License:</td><td class="value">{{verboseNone license}}</td></tr>
                    <tr><td class="key">Version:</td><td class="value" data-tooltip={{renderedChangelog}} data-tooltip-direction="s">{{version}}</td></tr>
                    {{#if upstreamAuthor}}
                    <tr><td class="key">Upstream author:</td><td class="value">{{upstreamAuthor}}</td></tr>
                    {{/if}}
                  </table>
                </div>

                <div class="ratings-bar">

                  <div class="left-float">
                    {{> appRating app=this backgroundCol='negative'}}
                  </div>

                  <div class="right-float social">
                    {{#if upstreamAuthor}}Packaged by:{{/if}}
                    <a href="{{getZippedPath 'appMarketAuthor' 'authorName' author.name}}">{{author.name}}</a>

                    {{#if invoke 'twitterLink'}}<a href="{{invoke 'twitterLink'}}" target="_blank"><i class="icon-tw"></i></a>{{/if}}
                    {{#if invoke 'githubLink'}}<a href="{{invoke 'githubLink'}}" target="_blank"><i class="icon-gh"></i></a>{{/if}}
                    {{#if invoke 'googlePlusLink'}}<a href="{{invoke 'googlePlusLink'}}" target="_blank"><i class="icon-go"></i></a>{{/if}}
                    {{#if invoke 'facebookLink'}}<a href="{{invoke 'facebookLink'}}" target="_blank"><i class="icon-fb"></i></a>{{/if}}
                  </div>

                </div>

                <div class="clearfix"></div>

                <div class="action-buttons">

                  <a href="{{fullInstallLink}}" class="{{#if installed}}installed{{else}}install{{/if}} button" data-action="install-app">
                    {{#if hasSandstormHost}}
                      INSTALL{{#if installed}}+{{/if}}
                    {{else}}
                      DEMO
                    {{/if}}
                    <i class="icon-arrow-install"></i>
                  </a>

                </div>

              </div>

            </div>

            <div class="clearfix"></div>

            {{#if screenshots}}
              {{> carousel images=screenshots}}
            {{/if}}

            <div class="header-row">
              <div class="header">Description</div>
              <!-- FLAG APP CURRENTLY DISABLED -->
              <!-- <div class="option" data-action="flag-app">
                Flag this app
                <i class="{{#if flagged}}icon-flagged_dark{{else}}icon-flagged_light{{/if}}"></i>
              </div> -->
            </div>

            <div class="divider clearfix"></div>

            <div class="description">

              <!-- FLAG APP CURRENTLY DISABLED -->
              <!-- {{#if flagApp}}
                {{> flagBox flagDetails}}
              {{/if}} -->

              <div class="text {{#unless extendedDescription}}padded{{/unless}} {{#if flagApp}}min-height{{/if}} {{#unless readMore}}max-height{{/unless}}">
                {{#markdown}}{{description}}{{/markdown}}
                {{#if extendedDescription}}<div class="fade-box {{#if readMore}}hidden{{/if}}"></div>{{/if}}
              </div>

              {{#if extendedDescription}}
              <div class="read-more-bar">
                <div class="read-more" data-action="read-more">
                  Read More <i class="fa {{#if readMore}}fa-caret-up{{else}}fa-caret-down{{/if}}"></i>
                </div>
              </div>
              {{/if}}
            </div>

          </div>

        </div>

        {{!--
        <div class="single-app-container">

          <div class="app-item-inner reviews-section">

            <div class="header" id="reviews-header">Reviews
              <span class="ratings-count"> ({{ratingsCount}})</span>
            </div>

            <div class="review-bar header-row">
              <div class="rating">
                {{> appRating app=this}}
              </div>
              <div class="review-breakdown-and-textarea">
              <div class="review-breakdown">
                {{#if ratingsCount}}
                <table class="review-breakdown-table">
                  <tr>
                    <td class="label">Amazing</td>
                    <td class="number">{{amazingCount}}</td>
                    <td class="bar">
                      {{> miniRating app=this percentage=amazingPercent colorClass="positive"}}
                    </td>
                  </tr>
                  <tr>
                    <td class="label">Good</td>
                    <td class="number">{{goodCount}}</td>
                    <td class="bar">
                      {{> miniRating app=this percentage=goodPercent colorClass="positive"}}
                    </td>
                  </tr>
                  <tr>
                    <td class="label">Not so good</td>
                    <td class="number">{{notSoGoodCount}}</td>
                    <td class="bar">
                      {{> miniRating app=this percentage=notSoGoodPercent colorClass="negative"}}
                    </td>
                  </tr>
                  <tr>
                    <td class="label">Needs fix</td>
                    <td class="number">{{needsFixCount}}</td>
                    <td class="bar">
                      {{> miniRating app=this percentage=needsFixPercent colorClass="negative"}}
                    </td>
                  </tr>
                </table>
                {{/if}}
              </div>
            </div>
              {{#if shouldShowEditReviewLink}}
              <div class="option option-text">
                <span data-action="edit-review">
                  Edit your review
                  <i class="fa fa-caret-down"></i>
                </span>
              </div>
              {{else}}
              <div class="write-review option-text">
                {{#unless reviewExistsServerSide}}
                <span>
                  Write a review
                </span>
                {{/unless}}
                  {{> myRatingBox rating=myReview.rating writeReview=writeReview}}
              </div>
              {{/if}}
            </div>
            <div class="review-entry-and-buttons">
              <div>
                <textarea maxlength="500" class="review-entry {{#unless writeReview}}hidden{{/unless}}" style="{{#unless writeReview or ratingsCount}}display: none;{{/unless}}" data-field="review-text">{{myReview.text}}</textarea>
              </div>
              <div class="button-block">
                <div class="sandstorm-button {{#if reviewValid}}primary{{else}}neutral submit{{/if}} {{#unless writeReview}}hidden{{/unless}}" data-action="{{#if reviewValid}}submit-review{{else}}review-tooltip{{/if}}">
                  Submit review
                </div>
                <div class="sandstorm-button neutral {{#unless writeReview}}hidden{{/unless}}" data-action="discard-review">
                  <i class="icon-garbage"></i>
                  <span class="text">Discard</span>
                </div>
                <div class="sandstorm-button neutral {{#unless writeReview}}hidden{{/unless}}" data-action="cancel-review">
                  <span class="text">Cancel</span>
                </div>
              </div>
            </div>
            <div class="divider clearfix"></div>
                {{> reviewFrame reviews=reviews}}
          </div>
        </div>
        --}}
        {{/with}}
      </div>
    {{/if}}
  </div>
</template>

<template name="carousel">

  <div class="carousel">

    <div class="prev-button {{#unless extraScreenshots}}hidden{{/unless}}" data-action="carousel-prev"><i class="icon-extra-l-angle"></i></div>
    <div class="owl-carousel">
      {{#each images}}
      <div class="screenshot-container">
        <div class="screenshot" style="background-image: url('{{imageUrl this.imageId}}')" data-action="image-lightbox" data-src={{imageUrl this.imageId}}></div>
      </div>
      {{/each}}
    </div>
    <div class="next-button {{#unless extraScreenshots}}hidden{{/unless}}" data-action="carousel-next"><i class="icon-extra-r-angle"></i></div>

  </div>

</template>

<template name="flagBox">

  <form id="flag-box">
    <div>I believe this app is:</div>
    <div class="divider"></div>
    <div>
      <div>
        <input type="radio" data-category="inappropriate" id="inappropriate" name="flag-reason">
        <label for="inappropriate"><span class="vis-radio"><span></span></span><span>Inappropriate</span></label>
      </div>
      <div>
        <input type="radio" data-category="spam" id="spam" name="flag-reason">
        <label for="spam"><span class="vis-radio"><span></span></span><span>Spam</span></label>
      </div>
      <div>
        <input type="radio" data-category="duplicate" id="duplicate" name="flag-reason">
        <label for="duplicate"><span class="vis-radio"><span></span></span><span>Duplicate</span></label>
      </div>
      <div>
        <input type="radio" data-category="plagiarized" id="plagiarized" name="flag-reason">
        <label for="plagiarized"><span class="vis-radio"><span></span></span><span>Plagiarized</span></label>
      </div>
      <div>
        <input type="radio" data-category="other" id="other" name="flag-reason">
        <label for="other"><span class="vis-radio"><span></span></span><span>Other</span></label>
      </div>
    </div>
    <input type="text" data-field="flag-other" />
    <div>Additional information:</div>
    <div class="additional-info" data-field="additional-info" contenteditable>{{additional}}</div>
    <div class="button" data-action="submit-flag-app">SUBMIT</div>
    <div class="button" data-action="flag-app">CLOSE</div>
  </form>

</template>

<template name="reviewFrame">

  {{#if isPhone}}
  <div class="reviews">
    {{#each reviews}}
      {{> reviewBox}}
    {{/each}}
  </div>
  {{else}}
  <div class="review-frame">
    <div class="reviews">
      {{#each reviewGroups}}
        {{#each this}}
        {{> reviewBox this}}
        {{/each}}
      {{/each}}
    </div>
  </div>
  {{/if}}

</template>

<template name="reviewBox">
  <div class="review-box">
    <div class="username">{{username}}</div>
    <div class="date">{{dateFormat createdAt 'MMMM D YYYY'}}</div>
    {{#if isNumber rating}}
    <div class="rating">
      <div class="app-rating">
        {{#if greaterThan rating appRatings.didntLike}}
        <i class="icon-extra-thumbs-up positive"></i>
        <span class="label">{{#if equal rating 3}}Amazing{{else}}Good{{/if}}</span>
        {{else}}
        <i class="icon-extra-thumbs-down negative"></i>
        <span class="label">{{#if equal rating 1}}Not so good{{else}}Needs fix{{/if}}</span>
        {{/if}}
      </div>
    </div>
    {{/if}}
    <div class="review">{{text}}</div>
  </div>
</template>

<template name="myRatingBox">
  <div class="sandstorm-button positive-button {{#if writeReview}}{{#if equal rating 3}}selected{{else}}unselected{{/if}}{{else}}unselected{{/if}}" data-rating="3">
    <i class="icon-extra-thumbs-up"></i> Amazing
  </div>
  <div class="sandstorm-button positive-button {{#if writeReview}}{{#if equal rating 2}}selected{{else}}unselected{{/if}}{{else}}unselected{{/if}}" data-rating="2">
    <i class="icon-extra-thumbs-up"></i> Good
  </div>
  <div class="sandstorm-button negative-button {{#if writeReview}}{{#if equal rating 1}}selected{{else}}unselected{{/if}}{{else}}unselected{{/if}}" data-rating="1">
    <i class="icon-extra-thumbs-down"></i> Not so good
  </div>
  <div class="sandstorm-button negative-button {{#if writeReview}}{{#if equal rating 0}}selected{{else}}unselected{{/if}}{{else}}unselected{{/if}}" data-rating="0" data-action="bug-modal">
    <i class="icon-extra-thumbs-down"></i> Needs fix
  </div>
</template>
