<template name="SingleApp">

  <div class="apps-by-me-standard">

      <div class="single-app-container">

      {{#if routerSubsReady}}

      <div class="app-table-large">

        {{#with app}}

        <div class="single-app-container">

          <div class="app-item-inner">

            <div class="image-section">

              <div class="image-surround-full-width">

                <div class="image" style="background-image: url('{{imageUrl image}}');"></div>

              </div>

            </div>

            <div class="text-section">

              <div class="top-section clearfix">

                <div class="left-float">

                  <div class="header">{{name}}</div>

                  <div class="app-author-full-width">{{getUsername author}}</div>

                </div>

              </div>

              <div class="bottom-section clearfix">

                <div class="half-col">

                  <div class="date">{{dateFormat createdAt 'MMMM DD, YYYY'}}</div>
                  <div class="genre">{{category}}</div>

                </div>

                <div class="half-col">

                  <div class="key">Ported by:</div><div class="value">{{getUsername author}}</div>
                  <div class="key">License:</div><div class="value">MIT TODO</div>
                  <div class="key">Code:</div><div class="value">On Github TODO</div>
                  <div class="key">Version:</div><div class="value">{{getLatestVersion}}</div>

                </div>

                <div class="ratings-bar">

                  <div class="left-float">
                    <div class="app-rating">
                      {{{appRating stars}}}
                    </div>
                    <span>( {{ratingsCount}} )</span>
                  </div>

                  <div class="right-float social">
                    <i class="icon-tw"></i>
                    <i class="icon-go"></i>
                    <i class="icon-fb"></i>
                  </div>

                </div>

                <div class="action-buttons clearfix">

                  <div class="install button" data-action="install">INSTALL <i class="icon-arrow-install"></i></div>
                  <div class="chip-in button" data-action="chip-in">CHIP IN <i class="fa fa-money"></i></div>
                  <div class="blurb">This app is free, and if you like it, feel free to chip in.</div>

                </div>

              </div>

            </div>

            {{> carousel images=screenshots}}

            <div class="header">Description</div>
            <div class="right-float option">
              Flag this app
              <i class="icon-flagged_light"></i>
            </div>

            <div class="divider clearfix"></div>

            <div class="description">
              <div class="text">
                {{{getDescription description}}}
              </div>
              <div class="flag-box {{#unless flagBox}}hidden{{/unless}}">

              </div>

              <div class="read-more-bar">
                <div class="read-more" data-action="read-more">
                  Read More <i class="fa {{#if readMore}}fa-caret-up{{else}}fa-caret-down{{/if}}"></i>
                </div>
              </div>
            </div>

          </div>

        </div>

        {{/with}}

      </div>

      {{/if}}

    </div>

  </div>

</template>

<template name="carousel">

  <div class="carousel">

    <div class="prev-button" data-action="carousel-prev"><i class="fa fa-angle-left"></i></div>
    <div class="owl-carousel">
      {{#each images}}
      <div class="screenshot-container">
        <div class="screenshot" style="background-image: url('{{screenshotImageUrl this}}')"></div>
      </div>
      {{/each}}
    </div>
    <div class="next-button" data-action="carousel-next"><i class="fa fa-angle-right"></i></div>

  </div>

</template>
