@import "../../stylesheets/variables";

$app-container-padding-rl: 4.6rem;

.single-app-container {

  width: 100%;
  max-width: 125rem;
  text-align: left;
  padding-left: $app-container-margin-lr;
  padding-right: $app-container-margin-lr;
  padding-top: $app-container-margin-tb;
  padding-bottom: $app-container-margin-tb;
  box-sizing: border-box;

  .app-item-inner {

    padding-top: $app-container-padding-top;
    padding-bottom: $app-container-padding-bottom;
    padding-left: $app-container-padding-rl;
    padding-right: $app-container-padding-rl;
    box-shadow: $app-container-box-shadow;
    background-color: $app-box-bg;
    box-sizing: border-box;
    position: relative;

    .description {

      overflow: hidden;

    }

    .image-section {

      float: left;
      margin-right: 3rem;
      margin-top: 2.5rem;
      height: 26.5rem;

      .image-surround-full-width {

        position: relative;
        height: 85%;
        width: 23rem;
        min-width: 15rem;

        .image {

          content: "";
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          height: 100%;

        }

      }

    }

    .header-row {
      text-align: justify;
    }

    .header {
      display: inline-block;
      vertical-align: bottom;
      font-weight: normal;
      clear: none;
      font-size: 3.1rem;
    }

    .option-text {

      display: inline-block;
      vertical-align: bottom;
      font-size: 1.7rem;

      &.option {
        cursor: pointer;
      }

      *:not(.sandstorm-button) > i {
        font-size: 3.8rem;
        color: #c9add0;
      }

    }

    .divider {

      border-bottom: 1px solid #cfb5d6;

    }

    .text-section {

      // height: 26.5rem;
      overflow-y: hidden;
      margin-top: 1.8rem;

      .top-section {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #cfb5d6;
        color: #222222;

        .app-name-full-width {
          float: left;
          clear: none;
          font-size: 3.1rem;
        }

        .header.app-title {
          display: block;
        }

        .app-contact-info {
          display: block;
          font-size: 1.7rem;

          .button {
            display: inline-block;
            /* margin here pads the entire .top-section. */
            margin-bottom: 0.5rem;

            height: 2.7rem;
            line-height: 2.7rem;
            font-size: 1.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: inherit;
            border-color: #e7daeb;
            border-radius: 0.5rem;
            border-style: solid;
            border-width: 1px;
            color: #783189;
            i.fa {
              padding-right: 2px;
            }
          }
          a {
            color: #783189;
          }
        }

        .upstream-author {
          float: right;
          font-size: 1.7rem;
        }

      }

      .bottom-section {

        .details-block {

          width: 27.5%;
          line-height: 1.4;
          margin-right: 2.3rem;

          @media (max-width: $small-screen) {
            width: auto;
          }

        }

        .date {
          margin-top: 1rem;
          font-size: 1.7rem;
        }

        .genre {
          margin: 0.5rem 0;
          font-size: 1.7rem;
          color: #783189;
          a {
            color: #783189;
          }
        }

        table {
          border-collapse: collapse;
        }

        .key {

          width: 12.5rem;
          font-size: 1.5rem;
          color: #6d627c;
          padding: 0;

        }

        .value {

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 1.5rem;
          color: #6d627c;
          padding: 0;

          a {
            color: #7d627c;
          }

          &[data-tooltip] {
            display: inline-block;
          }

        }

      }

      .app-description {

        padding-top: 1.5rem;
        font-size: $app-description-large-font-size;
        color: $app-description-text;
        clear: both;
        overflow: ellipsis;
        font-size: 1.5rem;
        line-height: 1.4;
        color: #222222;

      }

    }

    .half-col {

      display: inline-block;
      vertical-align: top;
      width: 50%;

    }

    .half-col.right {
      display: block;
      margin: 1rem;
      float: right;
      width: auto;
      max-width: 50%;
      overflow: hidden;
    }

  }

  @media (max-width: $small-tablet) {

    .app-item-inner {

      padding-left: 2.3rem;
      padding-right: 2.3rem;

      .image-section {
        margin-right: 0;
        width: 100%;

        .image-surround-full-width {
          width: 100%;
        }
      }

      .text-section {
          overflow-y: initial;

          .half-col {
            display: block;
            width: 100%;
            margin-bottom: 1rem;
          }

          .half-col.right {
            float: none;
            max-width: none;
          }
      }

      [data-action="flag-app"], [data-action="write-review"] {
        display: none;
      }

      .description {
        .text.padded {
          >*:first-child {
            margin-top: 0;
          }
        }
      }

    }

  }

}

.ratings-bar {

  border-top: 1px solid #cfb5d6;
  padding-right: 1.275rem;
  line-height: 3.5rem;
  height: 3.5rem;
  font-size: 1.7rem;
  clear: both;

  .app-rating, span, i {

    display: inline;
    line-height: 3.5rem;
    height: 3.5rem;

  }

  .social {

    i {
      margin-left: 1.5rem;
      color: #783189;
      cursor: pointer;
      &:hover {
        color: #c18ace;
      }
    }

  }

}

.action-buttons {

  font-size: 0;
  clear: both;
  margin-top: 1rem;
  // height: 4.5rem;

  &.force-height {

    .button {
      margin-top: 1rem;
    }
  }

  > .hidden {
    display: none !important;
  }

  .button {

    display: inline-block;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3.75rem;
    line-height: 3.75rem;
    margin-right: 1.5rem;
    cursor: pointer;

    &.install {
      color: #ffffff;
      background-color: #783189;

      &:hover {
        background-color: #9247a9;
      }

      i {
        color: #c18ace;
      }
    }

    &.installed {
      color: #783189;
      background-color: #c18ace;
      cursor: initial;
    }

    &.chip-in {
      color: #ffffff;
      background-color: #5fa059;
      i {
        color: #ace286;
      }
    }

  }

  .blurb {

    display: inline-block;
    font-size: 1.5rem;
    color: #7d627c;

  }

  .chip-in-section {

    $border-col: #5fa059;
    $height: 2rem;
    display: inline-block;

    .slider-section {
      display: inline-block;
      vertical-align: bottom;
      margin-right: 1.5rem;
      font-size: 0;
      color: #7d627c;

      .text {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      .dollar-sign {
        display: inline-block;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        vertical-align: middle;
        font-size: 1.5rem;
        font-family: $main-font;
        color: #ffffff;
        background-color: #5fa059;
        height: $height;
        line-height: $height;
        padding-left: 0.5rem;
      }

      .chip-amount {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: none;
        font-size: 1.5rem;
        font-family: $main-font;
        color: #ffffff;
        background-color: #5fa059;
        height: $height;
        line-height: $height;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        width: 6rem;
        outline: none;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
           margin: 0;
        }
      }

      .slider {
        display: inline-block;
        width: 40rem;
        box-shadow: none;
        border: none;
        background-color: #e0e0e0;
        height: $height;
        vertical-align: middle;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        padding-right: 0.5rem;

        .noUi-handle {
          box-shadow: none;
          width: 0;
          height: $height * 1.5;
          top: -$height * 0.25;
          left: 0;
          border-left: 2px solid #c9c9c9;
          border-right: 2px solid #c9c9c9;

          &:before, &:after {
            content: none;
          }
        }
      }
    }

  }

}

.description {
  position: relative;

  .text {

    overflow: hidden;
    font-size: 1.7rem;

    &.padded {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }

    &.min-height {
      min-height: 28rem;
    }

    &.max-height {
      max-height: 50rem;
    }

    .fade-box {
      position: absolute;
      height: 5rem;
      bottom: 3.4rem;
      width: 100%;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));

      &.hidden {
        display: none;
      }
    }

  }

  .read-more-bar {

    clear: both;
    text-align: center;

    .read-more {
      display: inline-block;
      padding: 0.5rem 1rem 0.5rem 1rem;
      margin-top: 0.5rem;
      border-top: 1px solid #cfb5d6;
      font-size: 1.9rem;
      color: #783189;
      cursor: pointer;

      i {
        color: #c9add0;
      }
    }

  }

}

#flag-box {

  position: absolute;
  right: $app-container-padding-rl;
  width: 19.5rem;
  background-color: #f2f2f2;
  box-shadow: $app-container-box-shadow;
  color: #783189;
  padding: 1.1rem;
  font-size: 1.3rem;
  border: 1px solid #e4dfe5;
  line-height: 1.8;

  &.hidden {
    display: none;
  }

  .divider {
    margin: 0;
    border-bottom: 1px solid #cfb5d6;
  }

  .button {
    float: right;
    background-color: #c9add0;
    color: #ffffff;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: 1.4rem;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    margin-left: 0.25rem;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      background-color: #783189;
    }
  }

  input[type="radio"] {
      display:none;
  }
  input[type="radio"] + label {
    cursor: pointer;
    line-height: 2;
  }
  input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;

  }
  input[type="radio"] + label span.vis-radio {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 0.55rem;
    background-color: #d7c5dd;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
  input[type="radio"]:checked + label span.vis-radio {
    background-color: #783189;
  }

  textarea, input[type="text"], div[contenteditable] {
    width: 100%;
    outline: none;
    resize: none;
    background-color: white;
    border: 1px solid #e4dfe5;
    color: #783189;
    font-family: $main-font;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
    padding: 0.2rem;
  }

  div[contenteditable] {
    min-height: 3.5rem;
  }

}

.carousel {

  clear: both;
  font-size: 0;
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    height: 0;
    line-height: 0;
    font-size: 0;
    width: 100%;
  }

  .owl-carousel {

    display: inline-block;
    vertical-align: middle;
    background-color: #eeeeee;
    width: 90%;

    .screenshot-container {

      width: 100%;
      min-width: 22rem;
      box-sizing: border-box;
      display: inline-block;
      position: relative;

      .screenshot {

        position: absolute;
        top: 0.6rem;
        bottom: 0.6rem;
        right: 0.6rem;
        left: 0.6rem;
        background-position: center;
        background-size: cover;
        cursor: pointer;

      }

      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%;
      }

    }

  }

  @media (max-width: $small-tablet) {

    .prev-button, .next-button {
      display: none;
    }

    .owl-carousel {
      width: 100%;
    }
  }

}

.app-item-inner.reviews-section {

  padding-bottom: 4.6rem;

  .ratings-count {
    color: #a8a8a8;
  }

  .review-bar {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;

    .rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      .app-rating-container .ratings .text .labels .amazing {
        font-size: 1.5rem;
      }
    }

    .write-review {
      line-height: 4rem;

      span {
        padding-right: $update-selector-button-padding-lr;
      }

      .sandstorm-button {
        // For the text in the buttons, use the default page text color, not the button default.
        color: inherit;
        border-color: #b7b7b7;
      }

      .sandstorm-button:hover, .sandstorm-button.selected {
        background-color: #f4f4f4;
      }

      .sandstorm-button.selected {
        border-color: #939393;
      }

      .positive-button i {
        color: $review-positive-color;
      }

      .negative-button i {
        color: $review-negative-button-color;
      }
    }

    i.fa-caret-down, i.fa-caret-up {
      font-size: 1.5em;
      vertical-align: sub;
    }
  }

  .review-breakdown-and-textarea {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

    .review-breakdown {
      font-size: 1.5rem;
      width: 15rem;
      margin-right: 2em;

      .review-breakdown-table {
        tr {
          line-height: 1.8rem;
        }
        td.label {
          width: 8em;
          color: #6d627c;
        }
        td.number {
          width: 2rem;
          text-align: right;
          padding-right: 0.5rem;
          color: #a8a8a8;
        }
        td.bar {
          width: 5rem;
        }
      }
    }

    .review-entry-and-buttons {
      flex-grow: 1;

      .review-entry {
        outline: none;
        resize: none;
        background-color: white;
        border: 1px solid #e4dfe5;
        color: #6d627c;
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
        padding: 1.2rem;
        box-sizing: border-box;
        width: 100%;
      }

      .hidden {
        // Use this, rather than display: none; to avoid flashes of re-layout.
        visibility: hidden;
      }

      .button-block {
        text-align: right;
        margin-bottom: 0.8rem;

        .sandstorm-button.primary:hover {
          background-color: #9247a9;
        }
      }
    }
  }

  .divider.margin-top {
    margin-top: 0.8rem;
  }

  .rating {
    .app-rating, span, i {
      font-size: 1.7rem;
      display: inline;
      line-height: 3.5rem;
      height: 3.5rem;
      color: $star-col-dark;
    }

    .app-rating.monochrome {
      .icon-star.light {
        color: #cccccc;
      }
      .icon-star.dark {
        color: #222222;
      }
    }
  }

  .sandstorm-button.neutral.submit {
    cursor: initial;
  }

  .review-frame {
    margin-top: 2.4rem;
  }

  .reviews {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .review-box {
      padding-right: 4rem;
      padding-top: 1.9rem;
      padding-bottom: 1.9rem;
      width: 50%;
      box-sizing: border-box;

      @media (max-width: $small-tablet) {
        padding: 1.9rem 0;
        width: 100%;
      }

      .username {
        font-size: 1.7rem;
        color: #222222;
        font-weight: normal;
        display: inline-block;
      }

      .rating {
        display: block;
        margin-right: 1.5rem;

        .label {
          color: #6d627c;
        }

        i.positive {
          color: $review-positive-color;
        }

        i.negative {
          color: $review-negative-button-color;
        }
      }

      .date {
        font-size: 1.7rem;
        display: inline-block;
        color: #6d627c;
        margin-left: 1rem;
      }

      .review {
        font-size: 1.7rem;
      }

    }

  }

}

.prev-button, .next-button {

  width: 3%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: #783189;
  font-weight: 300;
  cursor: pointer;

  &.hidden {
    /* Choosing visibility: hidden; rather than display: none; to avoid */
    /* having to re-think layout for the carousel itself. */
    visibility: hidden;
  }

  i {
    font-size: 7rem;
  }

}
